<div
  class={{style-namespace "text-image-button"}}
  {{did-insert this.setStyle @pictureFileUrl}}
  {{did-update this.setStyle @pictureFileUrl}}
>
  <button
    data-test-task-answer
    data-test-task-answer-option={{@word}}
    disabled={{@disabled}}
    type="button"
    {{on "click" @clickAction}}
    class="bg-transparent rounded text-black mb-2 focus:outline-none focus:shadow-outline transition-all duration-500 ease-in-out border-2
      {{if @isSelected "selected"}}
      {{if @disabled "opacity-50"}}"
  >
    <span class="word" data-test-word>{{@word}}</span>
    {{#if (and @checked @isSelected)}}
      {{#if @isCorrect}}
        <FaIcon
          class="correctness-indicator right"
          @icon="check-circle"
          {{did-insert (fn this.addFrame "border-green-500")}}
          {{will-destroy (fn this.removeFrame "border-green-500")}}
        />
      {{else}}
        <FaIcon
          class="correctness-indicator wrong"
          @icon="times-circle"
          {{did-insert (fn this.addFrame "border-red-500")}}
          {{will-destroy (fn this.removeFrame "border-red-500")}}
        />
      {{/if}}
    {{/if}}
  </button>
</div>