<button
  data-test-task-answer
  data-test-task-answer-option={{@word}}
  disabled={{@disabled}}
  onclick={{@clickAction}}
  class="bg-transparent border
    border-blue-500 rounded text-blue-700 mb-2

    {{if @isSelected "selected"}}


    {{if (and @checked @isSelected) "is-answer-part"}}


    {{if @isCorrect "is-correct" "is-not-correct"}}


    {{if @disabled "opacity-50"}}"
>
</button>