<li class="task-player__option">
  <button
    data-test-task-answer
    data-test-task-answer-option={{@answerOption.word}}
    disabled={{this.isDisabled}}
    type="button"
    {{did-update this.handleAnswer @isCorrect}}
    class="task-player__option-button bg-transparent py-2 px-4 rounded
      {{if
        (eq @activeWord @answerOption.word)
        "border-2 text-white bg-purple-primary"
        "border-2 border-purple-primary border-opacity-25  text-purple-primary"
      }}
      {{if
        @disableAnswers
        "opacity-50 cursor-default"
        "hover:bg-purple-primary hover:text-white hover:border-transparent"
      }}"
    {{on
      "click"
      (if
        (eq @mode "interact")
        (fn @onPlayText @answerOption.word)
        (fn this.handleClick (fn @checkMaybe @answerOption.word))
      )
    }}
  >
    {{@answerOption.word}}
  </button>
</li>