<div
  class="{{style-namespace "task-player/single-simple-words"}}
    flex flex-grow flex-col"
  ...attributes
  {{did-insert this.onInsert}}
>
  {{yield (hash tasks=this.tasksCopy) to="header"}}
  {{#if this.tasksCopy.length}}

    <Ui::TaskContent>
      <ul class="task-player__options sm:mx-8 mx-2 mt-2">
        {{#each this.sortedAnswerOptions key="word" as |answerOption|}}
          <TaskPlayer::SingleSimpleWords::Option
            data-cols={{this.amountOfColumns}}
            class="flex"
            @activeWord={{@activeWord}}
            @answerOption={{answerOption}}
            @checkMaybe={{this.checkMaybe}}
            @disableAnswers={{@disableAnswers}}
            @mode={{@mode}}
            @isCorrect={{this.isCorrect}}
            @onPlayText={{optional @onPlayText}}
          />
        {{/each}}
      </ul>

      {{#if this.showTip}}
        <div
          class="flex self-end px-4 py-3 mx-8 mt-8 text-sm leading-normal text-blue-700 bg-blue-100 rounded-md"
          role="alert"
        >
          {{t
            "audio_player.selected_words_of"
            total=this.firstUncompletedTask.answer.length
            selected=this.currentAnswer.length
          }}
        </div>
      {{/if}}
    </Ui::TaskContent>

    {{yield (hash audioFileUrl=this.audioFileUrl) to="footer"}}
  {{/if}}
</div>