<ModalDialog
  @overlayClass="p-16 z-50 min-h-full w-full absolute bg-blue-400 flex"
  @containerClass="w-full flex bg-white p-8 rounded-lg text-2xl"
>
  <div class="series-page--canvas flex flex flex-col flex-grow">
    {{#if (eq this.target.currentRouteName "group.series.exercise.task")}}
      <div class="flex items-center justify-between">
        <div>
          <FaIcon @icon="chevron-left" />
          <LinkTo @route="group.series" @model={{this.model.series}}>
            {{t "navigation.come_back"}}
          </LinkTo>
        </div>
        <div id="exercise-steps-slot">
        </div>
        <Timer @paused={{true}} />
      </div>
    {{/if}}
    <div class="exercise-container">
      {{#if
        (and
          this.exerciseIsCompletedInCurrentCycle (not this.showExerciseStats)
        )
      }}
        <AnswerCorrectnessWidget
          @isCorrect={{true}}
          {{did-insert this.greedOnCompletedExercise}}
        />
      {{else if this.showExerciseStats}}
        <div
          class="rounded-large column background-statistics flex flex-col items-center justify-between justify-around w-full h-full bg-blue-300"
        >
          <h3 class="text-purple-2A165B mt-6 mb-8 font-bold text-center">
            {{t "statistics.info_about"}}
          </h3>
          <ExerciseStats
            @stats={{this.model.stats}}
            {{did-insert this.afterCompleted}}
          />
        </div>
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
</ModalDialog>