<div class={{style-namespace "task-player/sentence"}}>
  {{#if (and this.exerciseResultIsVisible @task.isLastTask)}}
    <AnswerCorrectnessWidget @isCorrect={{true}} />
  {{else}}
    <AudioPlayer
      @audioFileUrl={{this.audioFiles}}
      @disabled={{@disableAudioPlayer}}
    />
    <div class="flex mt-4 justify-center">
      {{#each @task.selectedItemsOrder as |type|}}
        <div
          class="column flex-1 flex-col type-column


            {{if (not (eq @task.selectedItemsOrder.lastObject type)) "mr-2"}}"
          ...attributes
        >
          {{#each (get @task.answerOptions type) as |answerOption|}}
            <TextImageButton
              @checked={{this.answerCompleted}}
              @isCorrect={{this.isCorrect}}
              @disabled={{@disableAnswers}}
              @isSelected={{or (eq @activeWord answerOption.word) (eq
                (get this.currentAnswerObject type)
                answerOption.word
              )}}
              @clickAction={{if (eq @mode "interact") (fn @onPlayText answerOption.word) (fn this.checkMaybe answerOption)}}
              @pictureFileUrl={{concat "/" answerOption.pictureFileUrl}}
              @word={{answerOption.word}}
            />
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>