<div class="w-full max-w-xs mx-auto">
  <form
    class="bg-white rounded px-8 pt-6 pb-8 mb-4


      {{if (not this.loginInProgress) "shadow-lg"}}"
    {{on "submit" this.onSubmit}}
  >
    {{#if this.loginInProgress}}
      <LoadingSpinner />
    {{else}}
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "login_form.login"}}
          @model={{this}}
          @name="login"
        />
      </div>
      <div class="mb-6">
        <LoginForm::Input
          @label={{t "login_form.password"}}
          @model={{this}}
          @name="password"
          @type="password"
        />
        {{#if (or this.usernameError this.passwordError)}}
          <p class="text-red-500 text-xs italic" data-test-form-warning>
            {{t "login_form.message_type_1"}}
          </p>
        {{/if}}
        {{#if this.errorMessage}}
          <p class="text-red-500 text-xs italic" data-test-form-error>
            {{this.errorMessage}}
          </p>
        {{/if}}
      </div>
      <div class="flex mb-4">
        {{#let
          (hash
            active="bg-pink-500 hover:bg-pink-700 flex-grow text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            disabled="bg-pink-500 text-white font-bold flex-grow py-2 px-4 rounded opacity-50 cursor-not-allowed"
          ) as |buttonState|
        }}
          <button
            data-test-submit-form
            class={{get buttonState this.buttonState}}
            type="submit"
          >
            {{t "login_form.sign_in"}}
          </button>
        {{/let}}
      </div>
      <div class="flex justify-end">
        <LinkTo
          data-test-registration-form
          @route="registration"
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
        >
          {{t "login_form.registration"}}
        </LinkTo>
      </div>
    {{/if}}
  </form>
</div>