<form class="background-form" {{on "submit" this.onSubmit}}>
    <div class="flex justify-end h-full bg-white">
      <div
        class="lg:flex-none sm:pr-20 lg:py-24 flex flex-col items-end flex-1 w-2/4 pt-4 pl-20 pr-40 bg-blue-500"
      >
        <div class="relative z-10 w-full max-w-xs p-2 bg-white rounded-lg">
          <h2
            class="title-form mb-8 text-base font-semibold leading-tight text-center text-blue-900 uppercase"
          >
            {{t "login_form.sign_in"}}
          </h2>
          {{#if this.loginInProgress}}
            <LoadingSpinner />
          {{else}}
          <div class="mb-4">
            <LoginForm::Input
              @placeholder={{t "login_form.login"}}
              @model={{this}}
              @name="login"
            />
          </div>
          <div class="mb-4">
            <LoginForm::Input
              @placeholder={{t "login_form.password"}}
              @model={{this}}
              @name="password"
              @type="password"
            />
            {{#if (or this.usernameError this.passwordError)}}
              <p data-test-form-warning class="text-xs italic text-red-500">
                {{t "login_form.warning_enter_credentials"}}
              </p>
            {{/if}}
            {{#if this.errorMessage}}
              <p data-test-form-error class="mt-2 text-xs italic text-red-500">
                {{this.errorMessage}}
              </p>
            {{/if}}
          </div>
          <div class="flex mb-4">
            {{#let
              (hash
                active="bg-blue-700 hover:bg-blue-900 focus:outline-none focus:shadow-outline"
                disabled="bg-blue-700 opacity-50  cursor-not-allowed"
              ) as |buttonState|
            }}
              <Ui::Button @size="small" data-test-submit-form class="{{get buttonState this.buttonState}} w-full" @title={{t "login_form.sign_in"}} />
            {{/let}}
          </div>
          <div class="mt-4 text-sm leading-5 text-center">
            <a
              href="#" class="hover:text-blue-900 focus:outline-none focus:underline font-medium text-blue-900 transition duration-150 ease-in-out"
            >
              {{t "login_form.forgot_password"}}
            </a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
</form>