<section class="space-y-5">
  <h1 class="text-3xl font-semibold">
    {{t "description.dev.header"}}
  </h1>
  <p class="font-openSans font-semibold">
    {{t "description.dev.intro"}}
  </p>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="evidenceHeader">
  <h2 id="evidenceHeader" class="text-2xl font-semibold">
    {{t "description.dev.evidence.header"}}
  </h2>
  <p class="font-openSans">
    {{t "description.dev.evidence.intro"}}
  </p>
  <ul class="font-openSans space-y-3 list-disc list-inside">
    {{#each (array 0 1 2) as |i|}}
      <li>
        {{t (concat "description.dev.evidence." i)}}
      </li>
    {{/each}}
  </ul>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="audienceHeader">
  <h2 id="audienceHeader" class="text-2xl font-semibold">
    {{t "description.dev.audience.header"}}
  </h2>
  <ul class="font-openSans space-y-3 list-disc list-inside">
    {{#each (array 0 1 2) as |i|}}
      <li>
        {{t (concat "description.dev.audience." i)}}
      </li>
    {{/each}}
  </ul>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="routineHeader">
  <h2 id="routineHeader" class="text-2xl font-semibold">
    {{t "description.dev.routine.header"}}
  </h2>
  <p class="font-openSans">
    {{t "description.dev.routine.intro"}}
  </p>
  <ul class="font-openSans space-y-3 list-disc list-inside">
    {{#each (array 0 1 2) as |i|}}
      <li>
        {{t (concat "description.dev.routine." i)}}
      </li>
    {{/each}}
  </ul>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="expertsHeader">
  <h2 id="expertsHeader" class="text-2xl font-semibold">
    {{t "description.dev.experts.header"}}
  </h2>
  <p class="font-openSans">
    {{t "description.dev.experts.intro"}}
  </p>
  <ul class="lg:grid-cols-2 grid gap-6">
    {{#each this.persons.doctors as |doctor|}}
      <li
        class="sm:p-6 flex items-start p-4 bg-gray-100 border border-gray-200 rounded-lg"
      >
        <img
          src={{doctor.img}}
          alt={{doctor.name}}
          class="w-20 h-20 mr-4 rounded-full"
        />
        <div>
          <h3 class="text-lg font-semibold text-gray-800">
            {{doctor.name}}
          </h3>
          <p class="font-openSans mt-2 text-sm leading-relaxed text-gray-600">
            {{doctor.bio}}
          </p>
        </div>
      </li>
    {{/each}}
  </ul>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="noteHeader">
  <h2 id="noteHeader" class="text-2xl font-semibold">
    {{t "description.dev.note.header"}}
  </h2>
  <p class="font-openSans">
    {{t "description.dev.note.text"}}
  </p>
</section>

<hr class="my-10" />

<section class="space-y-5" aria-labelledby="joinCtaHeader">
  <h2 id="joinCtaHeader" class="text-2xl font-semibold">
    {{t "description.dev.cta.header"}}
  </h2>
  <ol class="font-openSans space-y-3 list-decimal list-inside">
    <li>
      {{t "description.dev.cta.0"}}
      <a
        href="https://brainup.site"
        target="_blank"
        rel="noopener noreferrer" class="hover:no-underline text-blue-light underline"
      >
        www.brainup.site
      </a>
    </li>
    <li>
      <LinkTo
        @route="specialists"
        class="hover:no-underline text-blue-light underline"
      >
        {{t "description.dev.cta.1"}}
      </LinkTo>
    </li>
    <li>
      {{t "description.dev.cta.2"}}
      <a
        href="https://t.me/ElenaBrainUp"
        target="_blank"
        rel="noopener noreferrer" class="hover:no-underline text-blue-light underline"
      >
        https://t.me/ElenaBrainUp
      </a>
    </li>
  </ol>
</section>
