<div ...attributes class={{style-namespace "group-navigation"}}>
  <div class="full relative overflow-hidden">
    {{#if this.showLeftScrollButton}}
      <div class="scroll-fade scroll-fade--left"></div>
      <button
        type="button"
        class="scroll-btn bg-purple-primary hover:opacity-75 focus:outline-none absolute left-0 z-20 flex items-center justify-center w-8 h-8 text-white rounded-full shadow-md"

        {{on "click" (fn this.scroll "left")}}
        aria-label="Scroll left"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    {{/if}}
    <ul
      class="hs no-scrollbar"
      style={{html-safe "scroll-behavior: smooth;"}}
      {{create-ref "container"}}
      {{on "scroll" this.onScroll}}
    >
      {{#each (sort-by "order" @group) as |exercise|}}
        <li class="item">
          <Ui::TabButton
            data-test-active-link={{exercise.name}}
            class="pl-3 pr-3"
            @small={{true}}
            @route="group.series.subgroup"
            @models={{array exercise.id}}
            @title={{exercise.name}}
            @tooltip={{exercise.description}}
            {{autofit-text exercise.name}}
          />
        </li>
      {{/each}}
    </ul>
    {{#if this.showRightScrollButton}}
      <div class="scroll-fade scroll-fade--right"></div>
      <button
        type="button"
        class="scroll-btn bg-purple-primary hover:opacity-75 focus:outline-none absolute right-0 z-20 flex items-center justify-center w-8 h-8 text-white rounded-full shadow-md"

        {{on "click" (fn this.scroll "right")}}
        aria-label="Scroll right"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    {{/if}}
  </div>
</div>