<div class="{{style-namespace "statistics/month-time-track"}}" ...attributes>
  <div class="text-xs font-semibold leading-3 uppercase">
    {{t "profile.statistics.month_time_track.title_months"}}
  </div>
  <div class="justify-space h-200px box-content flex items-center px-6 py-6">
    <button
      data-test-btn-prev
      class="focus:outline-none w-48px h-48px rounded-2xl border-purple-left bg-gradient-to-r from-purple-left to-purple-right m-w-0 flex items-center justify-center text-white shadow-lg"
      type="button"
      {{on "click" @onLoadPrevYear}}
    >
      <Ui::LeftArrow />
    </button>
    <div
      data-test-month-items-wrap
      data-test-month-incomplete-year={{this.isIncompleteYear}}
      class="w-full my-0 mx-5 flex overflow-auto
        {{if this.isIncompleteYear " justify-start" " justify-between"}}"
    >
      {{#if @isLoading}}
        <LoadingSpinner />
      {{else if this.monthTimeTrackItemsData.length}}
        {{#each this.monthTimeTrackItemsData as |itemData index|}}
          <Statistics::MonthTimeTrackItem
            data-test-month-track-item-index={{index}}
            class="last:mr-0 mr-2"
            @data={{itemData}}
            @isSelected={{and
              (eq @selectedMonth.year itemData.date.year)
              (eq @selectedMonth.month itemData.date.month)
            }}
            {{on "click" (fn @onSelectMonth itemData.date)}}
          />
        {{/each}}
      {{else}}
        <div data-test-empty-data class="w-full text-center">
          <span class="text-xs font-semibold leading-3 uppercase">
            {{t
              "profile.statistics.month_time_track.empty_data"
              year=@selectedMonth.year
            }}
          </span>
        </div>
      {{/if}}
    </div>
    <button
      data-test-btn-next
      class="focus:outline-none w-48px h-48px rounded-2xl border-purple-left bg-gradient-to-r from-purple-left disabled:opacity-25 to-purple-right m-w-0 disabled:cursor-not-allowed disabled:shadow-none flex items-center justify-center text-white shadow-lg"
      disabled={{not this.isAllowedNextYear}}
      type="button"
      {{on "click" @onLoadNextYear}}
    >
      <Ui::RightArrow />
    </button>
  </div>
</div>