<div class="series-page--canvas flex flex-col flex-grow">
  {{#if this.exerciseName}}
    <SeriesNavigation
      @exercises={{filter-by "name" this.exerciseName @model.exercises}}
      @available={{this.availableExercises}}
    />
  {{else}}
    {{#each (chunk 2 (sort-by "name" this.exerciseGroups)) as |groups|}}
      <div class="flex mb-4 -mx-2">
        {{#each groups as |group|}}
          <ExerciseGroup @group={{group}} />
        {{/each}}
      </div>
    {{/each}}
  {{/if}}
</div>
{{outlet}}