<button type="button" class="{{style-namespace "ui/tab-button"}} {{this.classes}}" disabled={{this.isDisabled}} ...attributes>
  {{#if (has-block)}}
  {{yield}}
    {{else}}
    {{@title}}
  {{/if}}
</button>

