<div
  class={{style-namespace "statistics/week-time-track"}}
  ...attributes
  {{did-insert this.didUpdateData}}
  {{did-update this.didUpdateData @data}}
>
  <div class="text-xs font-semibold leading-3 uppercase">
    {{t "profile.statistics.week_time_track.title_weeks"}}
  </div>
  <div class="h-200px box-content flex items-center justify-center px-5 py-6">
    {{#if @isLoading}}
      <LoadingSpinner />
    {{else if this.barData.length}}
      <Statistics::BarChart
        @data={{this.barData}}
        @options={{this.barOptions}}
      />
    {{else}}
      <div
        data-test-empty-data
        class="w-full text-xs font-semibold leading-3 text-center uppercase"
      >
        {{t "profile.statistics.week_time_track.empty_data" period=""}}
      </div>
    {{/if}}
  </div>
</div>