<div
  class="{{style-namespace "header"}}
    header relative z-20
    {{if this.session.isAuthenticated "bg-purple-primary"}}"
  ...attributes
>
  <nav class="justify-evenly md:p-4 flex flex-wrap p-2 pt-4">
    <div class="md:mr-4 z-10 flex flex-shrink text-white">
      <LinkTo
        @route="index"
        data-test-logo
        class="logo-text text-xl tracking-tight text-gray-700"
      >
        <Ui::Icon::Logo
          @fill={{if this.session.isAuthenticated "white" "black"}}
        />
      </LinkTo>
    </div>
    <div class="nav-links self-stretchx relative z-10 flex items-center w-auto">
      <div
        class="text-xss sm:text-xs
          {{if
            this.session.isAuthenticated
            "text-white"
            "text-purple-primary"
          }}"
      >
        {{#if this.session.isAuthenticated}}
          <LinkTo
            @route="groups"
            @query={{hash locale=this.activeLocale}}
            data-test-group-link
            class="hover:bg-white hover:text-purple-primary sm:px-4 sm:mr-4 block inline-block px-2 py-2 mr-0 font-semibold tracking-wider text-white uppercase rounded-full"
          >
            {{t "header.groups"}}
          </LinkTo>
          <LinkTo
            @route="profile.statistics"
            data-test-statistics-link
            class="hover:bg-white hover:text-purple-primary sm:px-4 inline-block px-2 py-2 mr-0 font-semibold tracking-wider text-white uppercase rounded-full"
          >
            {{t "header.statistics"}}
          </LinkTo>
        {{/if}}
        <LinkTo
          @route="description"
          class="inline-block px-2 sm:px-4 py-2 mr-0 font-bold tracking-wider uppercase rounded-full
            {{if
              this.session.isAuthenticated
              "hover:bg-white hover:text-purple-primary"
              "hover:bg-purple-primary hover:text-white"
            }}"
        >
          {{t "header.about"}}
        </LinkTo>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://t.me/BrainUpPlatform"
          class="inline-block px-2 sm:px-4 py-2 mr-0 font-bold tracking-wider uppercase rounded-full
            {{if
              this.session.isAuthenticated
              "hover:bg-white hover:text-purple-primary"
              "hover:bg-purple-primary hover:text-white"
            }}"
        >
          Telegram
        </a>
        <span
          class="sm:px-4 inline-block px-2 py-2 mr-0 font-semibold tracking-wider text-white uppercase rounded-full"
        >
          <button
            type="button"
            class="hover:text-opacity-50 py-2 bg-transparent rounded uppercase
              {{if (eq this.activeLocale "ru-ru") "font-bold"}}
              {{if
                this.session.isAuthenticated
                "text-white"
                "text-purple-primary"
              }}"
            {{on "click" (fn this.setLocale "ru")}}
          >
            RU
          </button>
          /
          <button
            type="button"
            class="inline-block hover:text-opacity-50 py-2 bg-transparent rounded uppercase
              {{if (eq this.activeLocale "en-us") "font-bold"}}
              {{if
                this.session.isAuthenticated
                "text-white"
                "text-purple-primary"
              }}"
            {{on "click" (fn this.setLocale "en")}}
          >
            EN
          </button>
        </span>
        <div id="other-menu" class="dropdown relative rounded-full">
          <button
            class="sm:px-4 sm:mr-4 inline-block px-2 py-2 mr-0 font-bold tracking-wider uppercase rounded-full"
            type="button"
          >{{t "header.more"}}</button>
          <input type="checkbox" />
          <div class="sm:text-base bottom absolute z-10 py-2 text-xs rounded">
            <a
              target="_blank"
              href="https://opencollective.com/brainup"
              rel="noopener noreferrer"
            >{{t "header.donate"}}</a>
            <a
              target="_blank"
              href="https://github.com/Brain-up/brn"
              rel="noopener noreferrer"
            >{{t "header.github"}}</a>
            <LinkTo @route="contact" {{on "click" this.closeMenu}}>{{t
                "header.contact"
            }}</LinkTo>
            <a href="/description">{{t "header.info"}}</a>
            <LinkTo @route="specialists" {{on "click" this.closeMenu}}>{{t
                "header.specialists"
              }}</LinkTo>
            <LinkTo @route="contributors" {{on "click" this.closeMenu}}>{{t
                "header.contributors"
              }}</LinkTo>
            <LinkTo @route="used-resources" {{on "click" this.closeMenu}}>{{t
                "header.used_resources"
              }}</LinkTo>
          </div>
        </div>
      </div>
    </div>
    {{#if this.session.isAuthenticated}}
      <div class="flex justify-end ml-6">
        <GlobalTimer />

        <LinkTo
          @route="profile"
          class="hover:text-opacity-50 text-md focus:underline flex items-center font-medium text-white transition duration-150 ease-in-out"
        >
          <div
            class="sm:mr-3 w-10 h-10 mr-2 border border-gray-400 rounded-full"
          >
            <img
              src="{{this.avatarUrl}}"
              alt="user avatar"
              class="object-cover h-full rounded-full"
            />
          </div>
          <div
            class="font-small md:mr-4 text-xss sm:text-xs mr-3 leading-5 uppercase"
          >
            <p>
              {{this.user.firstName}}
            </p>
            <p>
              {{this.user.lastName}}
            </p>
          </div>
        </LinkTo>

        <button
          data-test-logout-button
          type="button"
          class="hover:text-opacity-50 text-xss sm:text-xs inline-block mt-0 mr-2 leading-none text-white border-0"
          {{on "click" this.logout}}
        >
          <Ui::Icon::Logout />
        </button>
      </div>
    {{else}}
      <div class="relative z-10 flex justify-end px-16">
        <div>
          <Ui::Button
            data-test-registration-form
            class="flex items-center w-full px-16"
            @kind="outline"
            @route="registration"
            @title={{t "login_form.registration"}}
          />
        </div>
      </div>
    {{/if}}
  </nav>
</div>