<div class="{{style-namespace "header"}} header" ...attributes>
  <nav class="flex flex-wrap items-center justify-between p-4 bg-blue-500">
    <div class="relative z-10 flex items-center flex-shrink-0 mr-8 text-white">
      <LinkTo
        @route="index"
        data-test-logo
        class="logo-text text-xl font-semibold tracking-tight"
      >
        <FaIcon @icon="brain" />
        <span class="logo-link__name">
          Brain Up
        </span>
      </LinkTo>
    </div>
    <div
      class="lg:flex lg:items-center lg:w-auto relative z-10 flex-grow block"
    >
      <div class="lg:flex-grow text-sm">
        {{#if this.session.isAuthenticated}}
          <LinkTo
            @route="groups"
            data-test-group-link
            class="lg:inline-block lg:mt-0 hover:text-white block mt-4 mr-4 text-blue-200"
          >
            {{t "header.groups"}}
          </LinkTo>
        {{/if}}
        <button
          type="button"
          class="hover:bg-blue-500 hover:text-white hover:border-transparent px-4 py-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded"
          {{on "click" (fn this.setLocale "ru")}}
        >
          RU
        </button>
        <button
          type="button"
          class="hover:bg-blue-500 hover:text-white hover:border-transparent px-4 py-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded"
          {{on "click" (fn this.setLocale "en")}}
        >
          EN
        </button>
      </div>
    </div>
    {{#if this.session.isAuthenticated}}
      <div
        data-test-user-email
        title="{{this.session.data.user.firstName}}



          {{this.session.data.user.lastName}}"
        class="lg:mt-0 inline-block px-4 py-2 mt-4 mr-2 text-sm leading-none text-white rounded"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 bg-white rounded-full"
        >
          <span class="text-md font-bold leading-none text-blue-500">
            TW
          </span>
        </span>
        {{this.session.data.user.email}}
      </div>
      <button
        data-test-logout-button
        type="button"
        class="hover:border-transparent hover:text-blue-500 hover:bg-white lg:mt-0 inline-block px-4 py-2 mt-4 text-sm leading-none text-white border border-white rounded"
        {{on "click" this.logout}}
      >
        {{t "header.logout"}}
      </button>
    {{else}}
      <div class="relative z-10 flex justify-end px-16">
        <div class="flex">
          <LinkTo
            data-test-registration-form
            @route="registration"
            type="submit"
            class="hover:bg-blue-900 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue-700 flex justify-center w-56 px-4 py-2 m-auto text-sm font-medium text-white transition duration-150 ease-in-out bg-blue-700 border border-transparent rounded-full"
          >
            {{t "login_form.registration"}}
          </LinkTo>
        </div>
      </div>
    {{/if}}
  </nav>
</div>