<div class="{{style-namespace "header"}} header" ...attributes>
  <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-8">
      <LinkTo
        @route="index"
        data-test-logo
        class="font-semibold text-xl tracking-tight logo-text"
      >
        <FaIcon @icon="brain" />
        <span class="logo-link__name">
          Brain Up
        </span>
      </LinkTo>
    </div>
    {{#if this.session.isAuthenticated}}
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <LinkTo
            @route="groups"
            data-test-group-link
            class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
          >
            {{t "header.groups"}}
          </LinkTo>
        </div>
      </div>
      <div
        data-test-user-email
        class="inline-block text-sm px-4 mr-2 py-2 leading-none rounded text-white mt-4 lg:mt-0"
        title="{{this.session.data.user.firstName}}

          {{this.session.data.user.lastName}}"
      >
        <span
          class="inline-flex items-center justify-center h-10 w-10 rounded-full bg-white"
        >
          <span class="text-md font-bold leading-none text-blue-500">
            TW
          </span>
        </span>
        {{this.session.data.user.email}}
      </div>
      <button
        data-test-logout-button
        type="button"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0"
        {{on "click" this.logout}}
      >
        {{t "header.logout"}}
      </button>
    {{/if}}
  </nav>
</div>