<div
  class="{{style-namespace "header"}}
    header
    {{if this.session.isAuthenticated "bg-purple-primary"}}"
  ...attributes
>
  <nav class="justify-evenly md:p-4 flex flex-wrap p-2 pt-4">
    <div class="md:mr-4 z-10 flex flex-shrink text-white">
      <LinkTo
        @route="index"
        data-test-logo
        class="logo-text text-xl tracking-tight text-gray-700"
      >
        <svg
          width="112"
          height="31"
          viewBox="0 0 112 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.64 15.96C21.64 16.6533 21.48 17.3333 21.16 18C20.84 18.6667 20.44 19.2933 19.96 19.88C19.48 20.4667 18.96 21.0133 18.4 21.52C17.84 22 17.3333 22.4133 16.88 22.76C16.4 23.1333 15.84 23.5333 15.2 23.96C14.56 24.3867 13.9333 24.7867 13.32 25.16C12.7333 25.5333 12.2133 25.88 11.76 26.2C11.3067 26.4933 11.0267 26.6933 10.92 26.8L9.76 27.72C9.62667 27.8267 9.46667 27.8933 9.28 27.92C9.12 27.9467 8.98667 27.96 8.88 27.96C8.69333 27.96 8.54667 27.8667 8.44 27.68C8.33333 27.4667 8.28 27.2533 8.28 27.04C8.28 26.88 8.42667 26.6 8.72 26.2C9.04 25.7733 9.4 25.4133 9.8 25.12C10.2 24.8267 10.6933 24.5333 11.28 24.24C11.8667 23.9467 12.6667 23.48 13.68 22.84C14.1867 22.52 14.8 22.1067 15.52 21.6C16.24 21.0667 16.92 20.5067 17.56 19.92C18.2 19.3067 18.7467 18.68 19.2 18.04C19.6533 17.3733 19.88 16.7333 19.88 16.12C19.88 15.88 19.5867 15.64 19 15.4C18.44 15.1333 17.64 15 16.6 15C15.5333 15 14.4133 15.16 13.24 15.48C12.0667 15.8 10.9733 16.1467 9.96 16.52C8.97333 16.8933 8.12 17.24 7.4 17.56C6.68 17.88 6.24 18.04 6.08 18.04C6.16 18.6533 6.25333 19.4133 6.36 20.32C6.49333 21.2 6.62667 22.0533 6.76 22.88C6.89333 23.84 7.04 24.84 7.2 25.88H7.36C7.41333 26.1467 7.52 26.5333 7.68 27.04C7.84 27.5467 7.92 27.9467 7.92 28.24C7.92 28.6667 7.76 28.88 7.44 28.88C7.28 28.88 7.09333 28.7333 6.88 28.44C6.69333 28.1467 6.49333 27.8 6.28 27.4C6.09333 27 5.92 26.6133 5.76 26.24C5.62667 25.84 5.53333 25.56 5.48 25.4C5.24 24.52 5 23.5067 4.76 22.36C4.54667 21.2133 4.34667 20.0667 4.16 18.92C4 17.7467 3.86667 16.6533 3.76 15.64C3.68 14.6 3.64 13.7467 3.64 13.08C3.64 12.8933 3.68 12.7333 3.76 12.6C3.86667 12.4667 3.92 12.3333 3.92 12.2C3.92 12.0667 3.88 11.9733 3.8 11.92C3.74667 11.84 3.72 11.72 3.72 11.56C3.72 11.48 3.73333 11.4 3.76 11.32C3.81333 11.2133 3.93333 11.16 4.12 11.16C4.30667 11.2133 4.48 11.24 4.64 11.24C4.82667 11.24 4.98667 11.28 5.12 11.36C5.25333 11.4133 5.36 11.52 5.44 11.68C5.52 11.84 5.56 12.0933 5.56 12.44V12.68C5.56 12.7333 5.54667 12.8 5.52 12.88C5.52 12.9333 5.52 12.9867 5.52 13.04C5.52 13.4933 5.53333 13.8533 5.56 14.12C5.58667 14.3867 5.62667 14.52 5.68 14.52C5.76 14.52 6.04 14.3333 6.52 13.96C7.02667 13.56 7.62667 13.0667 8.32 12.48C9.01333 11.8933 9.76 11.24 10.56 10.52C11.3867 9.8 12.1733 9.10667 12.92 8.44C13.2133 8.17333 13.6133 7.8 14.12 7.32C14.6267 6.81333 15.12 6.28 15.6 5.72C16.1067 5.16 16.5333 4.64 16.88 4.16C17.2533 3.65333 17.44 3.26667 17.44 3C17.44 2.73333 17.36 2.6 17.2 2.6C16.9867 2.6 16.5333 2.69333 15.84 2.88C15.1467 3.06667 14.36 3.32 13.48 3.64C12.6 3.93333 11.6933 4.28 10.76 4.68C9.82667 5.08 9 5.49333 8.28 5.92C7.53333 6.42666 6.78667 6.98666 6.04 7.6C5.29333 8.21333 4.61333 8.8 4 9.36C3.41333 9.89333 2.92 10.36 2.52 10.76C2.14667 11.1333 1.94667 11.3467 1.92 11.4C1.86667 11.4533 1.84 11.5067 1.84 11.56C1.84 11.6133 1.85333 11.6933 1.88 11.8C1.93333 11.88 1.96 11.9467 1.96 12C1.96 12.08 1.90667 12.1467 1.8 12.2C1.69333 12.2533 1.57333 12.28 1.44 12.28C1.22667 12.28 0.96 12.24 0.64 12.16C0.32 12.0533 0.16 11.7867 0.16 11.36C0.16 10.9867 0.373333 10.52 0.8 9.96C1.22667 9.4 1.77333 8.8 2.44 8.16C3.13333 7.52 3.89333 6.89333 4.72 6.28C5.54667 5.64 6.36 5.05333 7.16 4.52C7.96 4.01333 8.82667 3.53333 9.76 3.08C10.72 2.6 11.6533 2.18667 12.56 1.84C13.4933 1.49333 14.3733 1.22666 15.2 1.04C16.0267 0.826665 16.7067 0.719998 17.24 0.719998C17.4533 0.719998 17.6933 0.746665 17.96 0.8C18.2267 0.853332 18.48 0.933332 18.72 1.04C18.96 1.14667 19.16 1.29333 19.32 1.48C19.48 1.64 19.56 1.84 19.56 2.08C19.56 2.8 19.3467 3.54667 18.92 4.32C18.4933 5.06667 17.9333 5.82667 17.24 6.6C16.5467 7.37333 15.76 8.16 14.88 8.96C14.0267 9.73333 13.16 10.4933 12.28 11.24C11.4267 11.96 10.6 12.6667 9.8 13.36C9 14.0267 8.33333 14.64 7.8 15.2C8.09333 15.0933 8.57333 14.92 9.24 14.68C9.90667 14.4133 10.6267 14.16 11.4 13.92C12.2 13.6533 13 13.4267 13.8 13.24C14.6 13.0533 15.3067 12.96 15.92 12.96C16.1067 12.96 16.5067 12.9733 17.12 13C17.7333 13.0267 18.3733 13.1333 19.04 13.32C19.7067 13.5067 20.3067 13.8133 20.84 14.24C21.3733 14.64 21.64 15.2133 21.64 15.96ZM35.8572 15.8C35.8572 15.9867 35.7772 16.1467 35.6172 16.28C35.4572 16.3867 35.2705 16.48 35.0572 16.56C34.8439 16.64 34.6305 16.7067 34.4172 16.76C34.2039 16.7867 34.0305 16.8 33.8972 16.8C33.4972 16.8 33.2305 16.7733 33.0972 16.72C32.9639 16.6667 32.8572 16.64 32.7772 16.64C32.1105 16.64 31.5772 16.6933 31.1772 16.8C30.7772 16.9067 30.4572 17.08 30.2172 17.32C30.0039 17.56 29.8572 17.8667 29.7772 18.24C29.7239 18.5867 29.6972 19.0133 29.6972 19.52C29.6972 20.3733 29.7239 21.0533 29.7772 21.56C29.8572 22.0667 29.9239 22.48 29.9772 22.8C30.0572 23.12 30.1239 23.3733 30.1772 23.56C30.2572 23.72 30.2972 23.88 30.2972 24.04C30.2972 24.2533 30.1772 24.48 29.9372 24.72C29.7239 24.96 29.5239 25.08 29.3372 25.08C29.0172 25.08 28.7239 24.8 28.4572 24.24C28.2172 23.6533 28.0039 22.9733 27.8172 22.2C27.6572 21.4 27.5239 20.6133 27.4172 19.84C27.3105 19.0667 27.2572 18.48 27.2572 18.08C27.2572 17.6267 27.2972 17.2 27.3772 16.8C27.4572 16.3733 27.5639 16.0133 27.6972 15.72C27.8305 15.4 27.9772 15.1467 28.1372 14.96C28.2972 14.7733 28.4572 14.68 28.6172 14.68C28.7505 14.68 28.8572 14.7333 28.9372 14.84C29.0172 14.92 29.0839 15.0267 29.1372 15.16C29.1905 15.2667 29.2439 15.3733 29.2972 15.48C29.3772 15.56 29.4705 15.6 29.5772 15.6C29.8172 15.6 30.2039 15.48 30.7372 15.24C31.2705 15 31.9239 14.88 32.6972 14.88C33.4172 14.88 33.9505 14.9067 34.2972 14.96C34.6705 14.9867 35.0305 15.0667 35.3772 15.2C35.4572 15.2267 35.5505 15.2933 35.6572 15.4C35.7905 15.48 35.8572 15.6133 35.8572 15.8ZM59.2734 19.68C59.2734 20.16 59.0468 20.76 58.5934 21.48C58.1668 22.1733 57.5801 22.8533 56.8334 23.52C56.0868 24.1867 55.2201 24.76 54.2334 25.24C53.2468 25.6933 52.2201 25.92 51.1534 25.92C50.6734 25.92 50.1668 25.84 49.6334 25.68C49.1001 25.52 48.5801 25.2933 48.0734 25C47.5668 24.68 47.1134 24.3067 46.7134 23.88C46.3134 23.4267 46.0201 22.92 45.8334 22.36C45.6734 22.52 45.4734 22.7867 45.2334 23.16C45.0201 23.5333 44.7801 23.92 44.5134 24.32C44.2468 24.6933 43.9534 25.0267 43.6334 25.32C43.3134 25.5867 42.9801 25.72 42.6334 25.72C42.2868 25.72 41.9934 25.5467 41.7534 25.2C41.5401 24.8267 41.3668 24.4267 41.2334 24C41.1001 23.5467 41.0068 23.12 40.9534 22.72C40.9001 22.32 40.8734 22.0933 40.8734 22.04C40.8734 21.72 40.9668 21.12 41.1534 20.24C41.3401 19.3333 41.6201 18.4 41.9934 17.44C42.3668 16.48 42.8334 15.6267 43.3934 14.88C43.9801 14.1333 44.6601 13.76 45.4334 13.76C45.7268 13.76 45.9134 13.8933 45.9934 14.16C46.1001 14.4 46.1534 14.64 46.1534 14.88V16.08C46.2868 16.1867 46.4201 16.2667 46.5534 16.32C46.7134 16.3467 46.8468 16.4 46.9534 16.48C47.0868 16.5333 47.1801 16.6267 47.2334 16.76C47.3134 16.8933 47.3534 17.1067 47.3534 17.4C47.3534 17.5867 47.3401 17.76 47.3134 17.92C47.2868 18.0533 47.2734 18.1867 47.2734 18.32C47.2734 19.0133 47.3268 19.6933 47.4334 20.36C47.5401 21.0267 47.7534 21.6267 48.0734 22.16C48.3934 22.6667 48.8334 23.0933 49.3934 23.44C49.9534 23.76 50.7001 23.92 51.6334 23.92C52.8068 23.92 53.7934 23.68 54.5934 23.2C55.4201 22.6933 56.1001 22.1467 56.6334 21.56C57.1934 20.9467 57.6334 20.4 57.9534 19.92C58.2734 19.4133 58.5401 19.16 58.7534 19.16C59.1001 19.16 59.2734 19.3333 59.2734 19.68ZM45.2334 17.92C45.2334 17.8133 45.2068 17.72 45.1534 17.64C45.1001 17.5333 45.0734 17.44 45.0734 17.36C45.0734 17.2533 45.1001 17.16 45.1534 17.08C45.2068 17 45.2334 16.8933 45.2334 16.76C45.2334 16.68 45.2068 16.6267 45.1534 16.6C45.1001 16.5467 45.0734 16.4933 45.0734 16.44C44.8334 16.4933 44.5801 16.72 44.3134 17.12C44.0734 17.52 43.8334 17.9867 43.5934 18.52C43.3801 19.0533 43.2068 19.6 43.0734 20.16C42.9401 20.6933 42.8734 21.1333 42.8734 21.48C42.8734 21.6667 42.9268 21.9733 43.0334 22.4C43.1401 22.8267 43.2601 23.1067 43.3934 23.24C43.8468 22.3067 44.2601 21.4 44.6334 20.52C45.0334 19.64 45.2334 18.7733 45.2334 17.92ZM63.3256 9.6C63.3256 9.65333 63.2323 9.76 63.0456 9.92C62.859 10.08 62.6323 10.2533 62.3656 10.44C62.1256 10.6 61.8723 10.7467 61.6056 10.88C61.339 11.0133 61.1256 11.08 60.9656 11.08C60.859 11.08 60.7123 11.08 60.5256 11.08C60.3656 11.0533 60.1923 11 60.0056 10.92C59.8456 10.84 59.699 10.7333 59.5656 10.6C59.4323 10.44 59.3656 10.24 59.3656 10C59.3656 9.62667 59.499 9.28 59.7656 8.96C60.0323 8.61333 60.379 8.44 60.8056 8.44C60.8856 8.44 61.059 8.48 61.3256 8.56C61.619 8.61333 61.9123 8.69333 62.2056 8.8C62.499 8.90667 62.7523 9.02667 62.9656 9.16C63.2056 9.29333 63.3256 9.44 63.3256 9.6ZM64.6456 24.56C64.6456 24.7467 64.499 24.9067 64.2056 25.04C63.939 25.1733 63.739 25.24 63.6056 25.24C63.339 25.24 63.099 25.0667 62.8856 24.72C62.6723 24.3733 62.4856 23.9733 62.3256 23.52C62.1656 23.0667 62.0323 22.64 61.9256 22.24C61.819 21.8133 61.739 21.52 61.6856 21.36C61.6056 21.0933 61.499 20.7733 61.3656 20.4C61.2323 20.0267 61.099 19.6667 60.9656 19.32C60.859 18.9733 60.7656 18.6667 60.6856 18.4C60.6056 18.1333 60.5656 17.9867 60.5656 17.96C60.5656 17.5867 60.6323 17.24 60.7656 16.92C60.9256 16.6 61.1123 16.44 61.3256 16.44C61.5656 16.44 61.819 16.6267 62.0856 17C62.3523 17.3733 62.6056 17.8533 62.8456 18.44C63.1123 19 63.3523 19.6267 63.5656 20.32C63.779 20.9867 63.9656 21.6267 64.1256 22.24C64.2856 22.8267 64.4056 23.3467 64.4856 23.8C64.5923 24.2267 64.6456 24.48 64.6456 24.56ZM80.3766 23.08C80.3766 23.24 80.3232 23.4 80.2166 23.56C80.1099 23.72 79.9766 23.8667 79.8166 24C79.6832 24.1333 79.5232 24.2533 79.3366 24.36C79.1766 24.44 79.0299 24.48 78.8966 24.48C78.4432 24.48 77.8566 24.3867 77.1366 24.2C76.4432 23.9867 75.8832 23.6667 75.4566 23.24C75.0032 22.7867 74.6032 22.2533 74.2566 21.64C73.9099 21 73.5232 20.0667 73.0966 18.84C72.8032 20.0133 72.4566 21.1733 72.0566 22.32C71.6832 23.4667 71.0699 24.52 70.2166 25.48C70.1632 25.5333 70.0832 25.56 69.9766 25.56C69.7899 25.56 69.5899 25.4667 69.3766 25.28C69.1632 25.0933 69.0566 24.9067 69.0566 24.72C69.0566 24.5333 69.0299 24.1067 68.9766 23.44C68.9499 22.7467 68.9099 21.9867 68.8566 21.16C68.8032 20.3067 68.7499 19.4533 68.6966 18.6C68.6699 17.72 68.6566 17 68.6566 16.44C68.6566 16.1733 68.6699 15.8267 68.6966 15.4C68.7232 14.9467 68.8032 14.56 68.9366 14.24C68.9632 14.1867 69.0566 14.08 69.2166 13.92C69.4032 13.76 69.6032 13.68 69.8166 13.68C70.0032 13.68 70.1099 13.8 70.1366 14.04C70.1632 14.28 70.1766 14.5467 70.1766 14.84V21.16C70.1766 21.2933 70.1899 21.48 70.2166 21.72C70.2699 21.96 70.3366 22.1333 70.4166 22.24C70.7099 21.6 70.9766 20.8533 71.2166 20C71.4832 19.12 71.7366 18.2933 71.9766 17.52C72.2166 16.72 72.4566 16.0533 72.6966 15.52C72.9366 14.96 73.1766 14.68 73.4166 14.68C73.6832 14.68 73.8966 14.7333 74.0566 14.84C74.2166 14.9467 74.3499 15.16 74.4566 15.48C74.5899 16.2533 74.6966 16.9467 74.7766 17.56C74.8566 18.1467 74.9499 18.68 75.0566 19.16C75.1899 19.64 75.3632 20.0933 75.5766 20.52C75.8166 20.92 76.1366 21.2933 76.5366 21.64C76.9099 21.9867 77.3232 22.24 77.7766 22.4C78.2566 22.56 78.6699 22.64 79.0166 22.64C79.1766 22.64 79.3499 22.6133 79.5366 22.56C79.7232 22.48 79.8566 22.44 79.9366 22.44C80.0432 22.44 80.1366 22.5333 80.2166 22.72C80.3232 22.9067 80.3766 23.0267 80.3766 23.08ZM99.6391 29.84C99.6391 30.16 99.5591 30.36 99.3991 30.44C99.2391 30.5467 99.0524 30.6 98.8391 30.6C98.6791 30.6 98.4657 30.5733 98.1991 30.52C98.0657 30.4933 97.8657 30.36 97.5991 30.12C97.3591 29.9067 97.0924 29.6533 96.7991 29.36C96.4791 29.04 96.1324 28.68 95.7591 28.28L93.7591 26C93.7057 26.08 93.5857 26.2533 93.3991 26.52C93.2124 26.76 92.9724 27.0267 92.6791 27.32C92.4124 27.5867 92.0924 27.8267 91.7191 28.04C91.3457 28.2533 90.9457 28.36 90.5191 28.36C90.2257 28.36 89.8657 28.2667 89.4391 28.08C89.0391 27.92 88.6257 27.68 88.1991 27.36C87.7724 27.04 87.3457 26.6533 86.9191 26.2C86.5191 25.7467 86.1724 25.24 85.8791 24.68C85.5057 23.96 85.1857 23.2133 84.9191 22.44C84.6791 21.64 84.4791 20.84 84.3191 20.04C84.1857 19.24 84.0924 18.4533 84.0391 17.68C83.9857 16.88 83.9591 16.1333 83.9591 15.44C83.9591 14.4533 83.9991 13.7467 84.0791 13.32C84.1857 12.8933 84.5057 12.68 85.0391 12.68C85.2524 12.68 85.4124 12.76 85.5191 12.92C85.6524 13.0533 85.7191 13.2 85.7191 13.36C85.7191 14.8533 85.8257 16.3733 86.0391 17.92C86.2524 19.44 86.5591 20.84 86.9591 22.12C87.3591 23.3733 87.8524 24.4 88.4391 25.2C89.0524 26 89.7591 26.4 90.5591 26.4C90.9057 26.4 91.2124 26.28 91.4791 26.04C91.7457 25.7733 91.9591 25.4667 92.1191 25.12C92.3057 24.7733 92.4391 24.44 92.5191 24.12C92.5991 23.8 92.6524 23.56 92.6791 23.4C92.5191 23.0267 92.3457 22.5333 92.1591 21.92C91.9991 21.28 91.8524 20.5867 91.7191 19.84C91.5857 19.0933 91.4791 18.32 91.3991 17.52C91.3191 16.72 91.2791 15.9467 91.2791 15.2C91.2791 14.0533 91.2791 13.12 91.2791 12.4C91.3057 11.6533 91.3591 11.08 91.4391 10.68C91.5191 10.2533 91.6391 9.97333 91.7991 9.84C91.9591 9.68 92.1857 9.6 92.4791 9.6C92.6391 9.6 92.7857 9.65333 92.9191 9.76C93.0791 9.84 93.1991 9.93333 93.2791 10.04C93.3857 10.1467 93.4657 10.2533 93.5191 10.36C93.5724 10.4667 93.5991 10.5333 93.5991 10.56C93.5991 10.6667 93.5724 10.76 93.5191 10.84C93.4657 10.8933 93.4391 10.9733 93.4391 11.08C93.4391 11.2933 93.4657 11.6 93.5191 12C93.5991 12.4 93.6791 12.8133 93.7591 13.24C93.9191 14.0933 94.0657 15.0667 94.1991 16.16C94.3591 17.2533 94.4391 18.52 94.4391 19.96V21.64C94.4391 21.8533 94.5457 22.2933 94.7591 22.96C94.9991 23.6 95.5191 24.5467 96.3191 25.8C96.8524 26.6533 97.3457 27.3333 97.7991 27.84C98.2791 28.3467 98.6657 28.7467 98.9591 29.04C99.1457 29.2 99.3057 29.3467 99.4391 29.48C99.5724 29.64 99.6391 29.76 99.6391 29.84ZM93.5191 16.48C93.4924 16.32 93.4524 16.12 93.3991 15.88C93.3457 15.64 93.2791 15.4 93.1991 15.16C93.1457 14.92 93.0924 14.72 93.0391 14.56C93.0124 14.4 92.9991 14.32 92.9991 14.32C92.9991 14.6133 92.9991 14.9733 92.9991 15.4C93.0257 15.8 93.0524 16.2133 93.0791 16.64C93.1324 17.04 93.1857 17.44 93.2391 17.84C93.2924 18.2133 93.3591 18.5333 93.4391 18.8C93.4391 18.6133 93.4524 18.4267 93.4791 18.24C93.4791 18.08 93.4791 17.9067 93.4791 17.72C93.5057 17.5067 93.5191 17.2933 93.5191 17.08V16.48ZM111.736 9.04C111.736 10.7733 111.522 12.2933 111.096 13.6C110.696 14.9067 110.229 16.0667 109.696 17.08C109.189 18.0667 108.682 18.96 108.176 19.76C107.696 20.5333 107.376 21.28 107.216 22C107.082 22.48 106.789 22.72 106.336 22.72C106.282 22.72 106.242 22.72 106.216 22.72C106.189 22.6933 106.149 22.68 106.096 22.68C106.282 23.1333 106.562 23.6533 106.936 24.24C107.309 24.8 107.682 25.3733 108.056 25.96C108.429 26.5467 108.749 27.12 109.016 27.68C109.309 28.24 109.456 28.72 109.456 29.12C109.456 29.3333 109.309 29.5333 109.016 29.72C108.749 29.9333 108.509 30.04 108.296 30.04C108.189 30.04 108.109 29.9733 108.056 29.84C107.789 28.88 107.296 27.8533 106.576 26.76C105.856 25.6667 105.109 24.44 104.336 23.08C103.589 21.72 102.922 20.1867 102.336 18.48C101.749 16.7733 101.456 14.84 101.456 12.68C101.456 11.7733 101.496 11.0133 101.576 10.4C101.682 9.76 101.962 9.44 102.416 9.44C102.682 9.44 102.869 9.52 102.976 9.68C103.082 9.84 103.136 10.0133 103.136 10.2C103.136 12.6267 103.362 14.76 103.816 16.6C104.269 18.44 104.776 19.8667 105.336 20.88L106.016 19.84C106.709 18.7733 107.309 17.84 107.816 17.04C108.322 16.2133 108.736 15.4133 109.056 14.64C109.376 13.84 109.602 13.0267 109.736 12.2C109.896 11.3733 109.976 10.4133 109.976 9.32C109.976 9.02667 109.936 8.70667 109.856 8.36C109.802 8.01333 109.696 7.70667 109.536 7.44C109.402 7.14667 109.229 6.90667 109.016 6.72C108.802 6.53333 108.536 6.44 108.216 6.44C107.789 6.44 107.136 6.56 106.256 6.8C105.402 7.04 104.522 7.36 103.616 7.76C102.709 8.16 101.882 8.61333 101.136 9.12C100.389 9.6 99.9356 10.0933 99.7756 10.6C99.749 10.6533 99.709 10.72 99.6556 10.8C99.6023 10.88 99.549 10.92 99.4956 10.92C99.309 10.92 99.109 10.7733 98.8956 10.48C98.6823 10.1867 98.5756 9.93333 98.5756 9.72C98.5756 9.24 98.789 8.77333 99.2156 8.32C99.6423 7.86667 100.176 7.45333 100.816 7.08C101.482 6.70667 102.216 6.37333 103.016 6.08C103.816 5.76 104.589 5.50667 105.336 5.32C106.082 5.10666 106.749 4.94666 107.336 4.84C107.949 4.70666 108.389 4.64 108.656 4.64C109.082 4.64 109.482 4.76 109.856 5C110.256 5.24 110.589 5.56 110.856 5.96C111.122 6.36 111.336 6.82667 111.496 7.36C111.656 7.89333 111.736 8.45333 111.736 9.04Z"
            fill="{{if this.session.isAuthenticated "white" "black"}}"
          ></path>
        </svg>
      </LinkTo>
    </div>
    <div class="relative z-10 flex items-center self-stretch block w-auto">
      <div
        class="text-xss sm:text-xs
          {{if
            this.session.isAuthenticated
            "text-white"
            "text-purple-primary"
          }}"
      >
        {{#if this.session.isAuthenticated}}
          <LinkTo
            @route="groups"
            @query={{hash locale=this.activeLocale}}
            data-test-group-link
            class="hover:bg-white hover:text-purple-primary sm:px-4 sm:mt-4 sm:mr-4 block inline-block px-2 py-2 mt-2 mr-0 font-semibold tracking-wider text-white uppercase rounded-full"
          >
            {{t "header.groups"}}
          </LinkTo>
          <LinkTo
            @route="profile.statistics"
            data-test-statistics-link
            class="hover:bg-white hover:text-purple-primary sm:px-4 sm:mr-4 block inline-block px-2 py-2 mt-4 mr-0 font-semibold tracking-wider text-white uppercase rounded-full"
          >
            {{t "header.statistics"}}
          </LinkTo>
        {{/if}}
        <LinkTo
          @route="description"
          class="inline-block block px-2 sm:px-4 py-2 mt-4 mr-0 sm:mr-4 font-bold tracking-wider uppercase rounded-full
            {{if
              this.session.isAuthenticated
              "hover:bg-white hover:text-purple-primary"
              "hover:bg-purple-primary hover:text-white"
            }}"
        >
          {{t "header.about"}}
        </LinkTo>
        <button
          type="button"
          class="hover:text-opacity-50 py-2 bg-transparent rounded uppercase
            {{if (eq this.activeLocale "ru-ru") "font-bold"}}
            {{if
              this.session.isAuthenticated
              "text-white"
              "text-purple-primary"
            }}"
          {{on "click" (fn this.setLocale "ru")}}
        >
          RU
        </button>
        /
        <button
          type="button"
          class="inline-block hover:text-opacity-50 py-2 bg-transparent rounded uppercase
            {{if (eq this.activeLocale "en-us") "font-bold"}}
            {{if
              this.session.isAuthenticated
              "text-white"
              "text-purple-primary"
            }}"
          {{on "click" (fn this.setLocale "en")}}
        >
          EN
        </button>
      </div>
    </div>
    {{#if this.session.isAuthenticated}}
      <div class="flex justify-end mt-2 ml-6">
        <GlobalTimer />

        <LinkTo
          @route="profile"
          class="hover:text-opacity-50 text-md focus:no-underline focus:underline flex items-center font-medium text-white transition duration-150 ease-in-out"
        >
          <div
            class="sm:mr-3 w-10 h-10 mr-2 border border-gray-400 rounded-full"
          >
            <img
              src="{{this.avatarUrl}}"
              alt="user avatar"
              class="object-cover h-full rounded-full"
            />
          </div>
          <div
            class="font-small md:mr-4 text-xss sm:text-xs mr-3 leading-5 uppercase"
          >
            <p>
              {{this.user.firstName}}
            </p>
            <p>
              {{this.user.lastName}}
            </p>
          </div>
        </LinkTo>

        <button
          data-test-logout-button
          type="button"
          class="hover:text-opacity-50 text-xss sm:text-xs inline-block mt-0 mr-2 leading-none text-white border-0"
          {{on "click" this.logout}}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 4C3.89543 4 3 4.89543 3 6V18C3 19.1046 3.89543 20 5 20H11C12.1046 20 13 19.1046 13 18H11H9H5V6H9H11H13C13 4.89543 12.1046 4 11 4H5Z"
              class="fill-current"
            ></path>
            <path
              d="M18.984 12H10.734"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="stroke-current"
            ></path>
            <path
              d="M16 8L20 12L16 16"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              class="stroke-current"
            ></path>
          </svg>
        </button>
      </div>
    {{else}}
      <div class="relative z-10 flex justify-end px-16">
        <div>
          <Ui::Button
            data-test-registration-form
            class="flex items-center w-full px-16"
            @kind="outline"
            @route="registration"
            @title={{t "login_form.registration"}}
          />
        </div>
      </div>
    {{/if}}
  </nav>
</div>