<div data-test-exercise-stats ...attributes class="w-full mb-16">
  <div class="flex items-center justify-around w-full">
    <ExerciseStats::Panel
      @type="positive"
      @label={{t "statistics.time_board"}}
      @value={{this.minutes}}
      class="flex-col w-64 h-64 bg-pink-200 rounded-full"
    />
    <ExerciseStats::Panel
      @type="negative"
      @label={{t "statistics.attempts"}}
      @value={{this.repetitionIndex}}
      class="flex-col w-64 h-64 bg-blue-100 rounded-full"
    />
    <ExerciseStats::Panel
      @type="neutral"
      @label={{t "statistics.tasks"}}
      @value={{@stats.tasksCount}}
      class="flex-col w-64 h-64 bg-indigo-200 rounded-full"
    />
  </div>
  <div class="flex items-center justify-center m-12">
    <ExerciseStats::Panel
      @totalStat={{true}}
      @type="total"
      @label={{t "statistics.scoring"}}
      @value="0.33"
      class="items-bottom flex-0 flex items-center px-10 py-8 mt-16 mb-16 text-xl font-semibold text-blue-900 bg-blue-100 rounded-full"
    />
  </div>
</div>