<div
  data-test-exercise-stats
  ...attributes
  class="py-14 flex items-end w-full px-24 mx-auto"
>
  <div class="flex items-center justify-start w-full">
    <ExerciseStats::Panel
      @type="positive"
      @label={{t "statistics.time"}}
      @value={{this.minutes}}
    />
    <ExerciseStats::Panel
      @type="negative"
      @label={{t "statistics.attempts"}}
      @value={{this.repetitionIndex}}
    />
    <ExerciseStats::Panel
      @type="neutral"
      @label={{t "statistics.tasks"}}
      @value={{@stats.tasksCount}}
    />
  </div>
</div>