<div ...attributes {{did-insert this.onInit}}>
  <div class="flex justify-end">
    <button
      data-test-help-button
      type="button"
      class="hover:bg-gray-300 text-purple-primary active:bg-gray-400 focus:outline-none flex items-center px-4 py-2 text-xs font-bold tracking-wider uppercase border-2 border-gray-200 rounded-full shadow-lg"
      {{on "click" this.openStatisticsInfoDialog}}
    >
      <Ui::Help class="mr-2" />
      {{t "profile.statistics.about"}}
    </button>
  </div>
  <Statistics::MonthTimeTrack
    @isLoading={{this.isLoadingMonthTimeTrackData}}
    @selectedMonth={{this.selectedMonth}}
    @data={{this.monthTimeTrackData}}
    @onSelectMonth={{this.selectMonth}}
    @onLoadPrevYear={{this.loadPrevYear}}
    @onLoadNextYear={{this.loadNextYear}}
  />
  <Statistics::WeekTimeTrack
    @isLoading={{this.isLoadingWeekTimeTrackData}}
    @selectedMonth={{this.selectedMonth}}
    @data={{this.weekTimeTrackData}}
  />
  {{#if this.isShownStatisticsInfoDialog}}
    <Statistics::InfoDialog
      @closeModalAction={{this.hideStatisticsInfoDialog}}
    />
  {{/if}}
</div>