{{#if this.showAvatarsModal}}
  <ModalDialog
    @overlayClass="p-8 z-50 min-h-full w-full fixed flex"
    @containerClass="max-w-4xl flex bg-white rounded-lg text-2xl m-auto"
  >
    <Ui::Avatars
      @selectedAvatar={{this.avatar}}
      @onCancel={{this.onCancel}}
      @onSubmit={{this.onAvatarSubmit}}
    />
  </ModalDialog>
{{/if}}
{{#if this.showHeadphonesModal}}
  <ModalDialog
    @overlayClass="p-8 z-50 min-h-full w-full fixed flex"
    @containerClass="max-w-4xl flex bg-white rounded-lg text-2xl m-auto"
  >
    <Ui::Headphones
      @onCancel={{this.onCloseHeadphonesModal}}
      @onSubmit={{this.onSelectHeadphones}}
    />
  </ModalDialog>
{{/if}}
<section class="border-4 border-gray-100 rounded-md">
  <div
    class="bg-gradient-to-r from-blue-100 to-purple-100 profile lg:flex justify-between p-4"
  >
    <button
      type="button"
      title="{{this.user.email}}"
      style={{html-safe
        (concat "background-image: url('" this.avatarUrl "');")
      }}
      class="gradient-background focus:outline-none inline-flex items-center justify-center w-32 h-32 m-auto bg-center bg-contain border border-gray-400 rounded-full"
      {{on "click" this.onShowAvatars}}
    >
    </button>
  </div>
  <div class="p-12">
    <div class="mb-4">
      <LoginForm::Input
        @model={{this.user}}
        @name="firstName"
        @label={{t "registration_form.name"}}
        @warning={{this.warningErrorFirstName}}
        @trimRight={{false}}
        {{on "change" (fn this.onInput "firstName")}}
      />
      <LoginForm::Input
        @model={{this.user}}
        @name="lastName"
        @label={{false}}
        @warning={{this.warningErrorLastName}}
        @trimRight={{false}}
        {{on "change" (fn this.onInput "lastName")}}
      />
    </div>
    <div class="mb-4">
      <LoginForm::Input
        required
        minlength="4"
        maxlength="4"
        pattern="[0-9]{4}"
        {{on "keydown" this.setBirthday}}
        {{on "change" (fn this.onInput "birthday")}}
        @warning={{this.warningErrorDate}}
        @model={{this.user}}
        @label={{t "registration_form.birthday"}}
        @name="birthday"
      />

    </div>
    <div class="mb-4">
      <p class="mb-2 text-sm font-bold text-gray-700">
        {{t "registration_form.gender"}}
      </p>

      <label class="ml-1 text-sm cursor-pointer" for="female">
        <input
          required
          name="gender"
          value="FEMALE"
          type="radio"
          checked={{eq this.user.gender "FEMALE"}}
          class="w-3 h-3 border-gray-300"
          id="female"
          {{on "change" (fn this.onInput "gender")}}
        />
        {{t "registration_form.gender_female"}}
      </label>

      <label class="ml-1 text-sm cursor-pointer" for="male">
        <input
          required
          name="gender"
          type="radio"
          value="MALE"
          checked={{eq this.user.gender "MALE"}}
          class="w-3 h-3 ml-4"
          id="male"
          {{on "change" (fn this.onInput "gender")}}
        />
        {{t "registration_form.gender_male"}}
      </label>
    </div>
    <div class="mb-4">
      <LoginForm::Input
        disabled
        @model={{this.user}}
        @name="email"
        @label={{t "registration_form.email"}}
      />
    </div>
    <div class="mb-4">
      <p class="mb-2 text-sm font-bold text-gray-700">
        {{t "headphones.form_field_title"}}
      </p>
      <p class="text-sm">
        {{#if this.selectedHeadphones}}
          {{this.selectedHeadphones.name}}
        {{else}}
          {{t "headphones.form_field_no_headphones"}}
        {{/if}}
      </p>
      <button type="button" class="hover:text-indigo-600 text-sm text-indigo-500 transition duration-150 ease-in-out" {{on "click" this.onShowEarphones}}>
        <FaIcon @icon="headphones-alt" />
        {{t "headphones.form_field_select_headphones"}}
      </button>
    </div>
    <div class="mb-4">
      <LinkTo
        @route="password-recovery"
        class="hover:text-indigo-600 text-md focus:outline-none focus:underline font-medium text-indigo-500 transition duration-150 ease-in-out"
      >
        {{t "password_reset_form.update_password"}}
      </LinkTo>
    </div>
  </div>
</section>