{{#if this.showAvatarsModal}}
  <ModalDialog
          @overlayClass="p-16 z-50 min-h-full w-full fixed flex"
          @containerClass="max-w-4xl flex bg-white p-8 rounded-lg text-2xl m-auto"
  >
    <Ui::Avatars @onSelect={{this.onAvatarSelect}} @onCancel={{this.onCancel}} @onSubmit={{this.onAvatarSubmit}} />
  </ModalDialog>
{{/if}}
<section class="border-4 border-gray-100 rounded-md">
  <div class="bg-gradient-to-r from-blue-100 to-purple-100 profile lg:flex justify-between p-4">
    <button
            type="button"
            title="{{this.user.email}}"
            style={{html-safe (concat "background-image: url('" this.avatarUrl "');")}} class="gradient-background focus:outline-none inline-flex items-center justify-center w-32 h-32 m-auto bg-center bg-contain border border-gray-400 rounded-full" {{on "click" this.onShowAvatars}}
    >
    </button>
  </div>
  <div class="p-12">
    <div class="mb-4">
      <LoginForm::Input
              @model={{this.session.data.user}}
              @name="firstName"
              @label={{t "registration_form.name"}}
      />
    </div>
    <div class="mb-4">
      <LoginForm::Input
              required
              minlength="4"
              maxlength="4"
              pattern="[0-9]{4}"
              @warning={{this.warningErrorDate}}

              @model={{this.session.data.user}}
              @label={{t "registration_form.birthday"}}
              @name="birthday"
      />

    </div>
    <div class="mb-4">
      <LoginForm::Input
              @model={{this.session.data.user}}
              @name="email"
              @label={{t "registration_form.email"}}
      />
    </div>
    <div class="mb-4">
      <LoginForm::Input
              @model={{this.session.data.user}}
              @name="password"
              @label={{t "registration_form.password"}}
      />
    </div>
  </div>
</section>