{{!--
  <script @typedef>
    interface Args {
      type: 'negative' | 'positive' | 'neutral';
      label?: string;
      value?: string | number;
    }
  </script>
 --}}
{{#let
  (hash
    positive="text-green-500" negative="text-red-500" neutral="text-gray-500"
  )
  (hash
    positive="M20 15a1 1 0 002 0V7a1 1 0 00-1-1h-8a1 1 0 000 2h5.59L13 13.59l-3.3-3.3a1 1 0 00-1.4 0l-6 6a1 1 0 001.4 1.42L9 12.4l3.3 3.3a1 1 0 001.4 0L20 9.4V15z"
    negative="M20 9a1 1 0 012 0v8a1 1 0 01-1 1h-8a1 1 0 010-2h5.59L13 10.41l-3.3 3.3a1 1 0 01-1.4 0l-6-6a1 1 0 011.4-1.42L9 11.6l3.3-3.3a1 1 0 011.4 0l6.3 6.3V9z"
    neutral="M17 11a1 1 0 010 2H7a1 1 0 010-2h10z"
  ) as |textColorClass svgPathForType|
}}
  <div
    data-test-type={{@type}}
    ...attributes
    class="relative flex flex-col items-center justify-center px-4 py-4 bg-white"
  >
    <p
      class="absolute top-0 right-0 flex items-center justify-end p-1 mt-12 mr-12 bg-white border-2 border-yellow-500 rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-5 h-5 fill-current"
      >
        <path d={{get svgPathForType @type}} class="heroicon-ui"></path>
      </svg>
    </p>
    <div class="flex flex-col justify-center">
      <p data-test-label class="text-2xl font-bold text-center text-blue-900">
        {{or @label "@label"}}
      </p>
      <p
        data-test-value
        class="text-3xl text-4xl font-semibold text-center text-pink-500"
      >
        {{#if (has-block)}}
          {{yield}}
        {{else}}
          {{if (or @value (eq @value 0)) @value "@value"}}
        {{/if}}
      </p>
    </div>
  </div>
{{/let}}

