{{page-title (t "header.contributors")}}
<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16 rounded-lg">
  <h2 class="mb-6 text-4xl font-semibold text-center">
    {{t "contributors.title"}}
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    {{t "contributors.subtitle"}}
  </div>
  <div
    class="md:flex max-w-screen-xl m-auto flex-wrap
      {{style-namespace "about-us"}}"
  >
    {{#each (range 0 3 true) as |i|}}
      <div
        class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
      >
        <div>
          <img
            src={{t (concat "contributors.people." i ".imgSrc")}}
            alt="user avatar"
            class="w-24 m-auto mb-2 rounded-full"
          />
        </div>
        <div class="mb-1 text-lg font-medium">
          {{t (concat "contributors.people." i ".fullName")}}
        </div>
        <div class="font-openSans leading-5">
          {{t (concat "contributors.people." i ".jobTitle")}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="mt-20 text-center">
    <a
      href="#"
      target="blank"
      rel="noopener"
      class="hover:text-blue-600 text-blue-light text-lg font-semibold underline capitalize"
    >
      {{t "contributors.all"}}
    </a>
  </div>
</section>