{{page-title (t "header.contact")}}
<section class="space-y-5">
  <h1 class="text-3xl font-semibold">
    {{t "contact.header"}}
  </h1>
</section>

<hr class="my-10"/>

<section
    class="space-y-5"
    role="contentinfo"
    aria-labelledby="usefulLinksHeader"
>
  <p class="font-openSans">
  <ol class="space-y-3 list-decimal list-inside">
    <li>
      {{t "contact.for_users"}}
      <ul class="mt-3 ml-8 space-y-3 list-disc list-inside">
        {{#each (array 0 1) as |i|}}
          <li>
            {{t
                (concat
                    "contact.text." i ".title"
                )
            }}
            <a
                href={{t
                (concat "contact.text." i ".link")
            }}
                class="hover:no-underline text-blue-light underline"
                target="_blank"
                rel="noopener noreferrer"
            >
              {{t
                  (concat "contact.text." i ".description")
              }}
            </a>
          </li>
        {{/each}}
      </ul>
    </li>
    <li>
      {{t "contact.for_developers"}}
      <ul class="mt-3 ml-8 space-y-3 list-disc list-inside">
        {{#each (range 2 2 true) as |i|}}
          <li>
            {{t
                (concat
                    "contact.text." i ".title"
                )
            }}
            <a
                href={{t
                (concat "contact.text." i ".link")
            }}
                class="hover:no-underline text-blue-light underline"
                target="_blank"
                rel="noopener noreferrer"
            >
              {{t
                  (concat "contact.text." i ".description")
              }}
            </a>
          </li>
        {{/each}}
      </ul>
    </li>
  </ol>
  </p>
</section>