{{page-title (t "header.contributors")}}
<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16 rounded-lg">
  <h2 class="mb-6 text-4xl font-semibold text-center">
    {{t "contributors.title"}}
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    {{t "contributors.subtitle"}}
  </div>

  {{#each-in (group-by "kind" this.model) as |kindType group|}}
    <h3 class="pb-2 text-xl font-medium">{{t
        (concat "contributors.kinds." kindType)
      }}</h3>
    <div
      class="md:flex max-w-screen-xl m-auto flex-wrap
        {{style-namespace "about-us"}}"
    >
      {{#each group as |i|}}
        <div
          class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
        >
          <div>
            <img
              src={{or i.avatar 'https://avatars.githubusercontent.com/u/34234'}}
              alt="user avatar"
              class="w-24 m-auto mb-2 rounded-full"
            />
          </div>
          {{#if i.login}}
            <a
              class="mb-1 text-lg font-medium"
              target="_blank"
              rel="noopener noreferrer"
              href={{concat "https://github.com/" i.login}}
            >{{i.name}}</a>
          {{else}}
            <div class="mb-1 text-lg font-medium">
              {{i.name}}
            </div>
          {{/if}}
          <div class="font-openSans leading-5">
            {{i.company}}<br />
            {{i.description}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/each-in}}

  <div class="mt-20 text-center">
    <a
      href="#"
      target="blank"
      rel="noopener"
      class="hover:text-blue-600 text-blue-light text-lg font-semibold underline capitalize"
    >
      {{t "contributors.all"}}
    </a>
  </div>
</section>