{{page-title @model.name}}
{{#unless this.headerAndNavShown}}
  <div class="flex items-center ml-4">
    <Breadcrumbs @group={{@model}} />
  </div>
{{/unless}}
{{#unless this.headerAndNavShown}}
  {{#if
    (or
      (is-active "group.series.index")
      (and (not (is-active "group.series.subgroup.index")) (is-active "group"))
    )
  }}
    <aside
      class="bg-gradient-to-b from-white sticky top-0 rounded-bl rounded-br"
    >
      <GroupNavigation @group={{@model}} />
    </aside>
  {{/if}}
  {{#if (is-active "group.series.subgroup.index")}}
    <aside class="bg-gradient-to-b from-white rounded-bl rounded-br">
      <SubgroupNavigation @group={{model-for-route "group.series"}} />
    </aside>
  {{/if}}
{{/unless}}
<div
  class="series-container w-7/8 md:w-5/6 lg:w-3/4 xl:w-3/4 container flex mx-auto"
>
  <div class="series-page--canvas flex justify-center flex-grow">
    {{outlet}}
  </div>
</div>