{{page-title (t 'groups.title')}}
<div class="flex justify-center mt-6"><h3>{{t 'groups.exercise_selection'}}</h3></div>
<ol class="series-container flex items-center justify-center">
  <li class="list-item mr-6">
    <LinkTo @route="group" @model={{@model.lastObject}}>
      <ExerciseType
        @initial={{@model.lastObject.name}}
        class="speech-exercise"
      />
    </LinkTo>
  </li>
  <li class="list-item">
    <LinkTo @route="group" @model={{@model.firstObject}}>
      <ExerciseType
        @initial={{@model.firstObject.name}}
        class="non-speech-exercises"
      />
    </LinkTo>
  </li>
</ol>