{{page-title @model.name}}
{{#unless this.headerAndNavShown}}
  <div class="flex items-center mb-2">
    <Breadcrumbs @group={{@model}} />
  </div>
{{/unless}}
{{#unless this.headerAndNavShown}}
  {{#if (is-active 'group.series.index')}}
    <aside class="bg-gradient-to-b from-white sticky top-0 rounded-bl rounded-br">
      <GroupNavigation @group={{@model}} />
    </aside>
  {{/if}}
  {{#if (is-active 'group.series.subgroup.index')}}
    <aside class="bg-gradient-to-b from-white rounded-bl rounded-br">
      <SubgroupNavigation @group={{model-for-route "group.series"}} />
    </aside>
  {{/if}}
{{/unless}}
<div class="series-container flex">
  <div class="series-page--canvas flex flex-grow">
    {{outlet}}
  </div>
</div>