<section class="header bg-gradient-to-br from-blue-100 to-gray-100">
  <div
    class="lg:py-20 sm:py-16 container relative flex flex-wrap items-center px-4 py-10 mx-auto"
  >
    <div class="lg:w-6/12 w-full">
      <div class="max-w-2xl">
        <p
          class="text-blue-light inline-flex px-4 py-2 text-xs font-bold tracking-wider uppercase bg-white rounded-full"
        >
          {{t "index.hero_badge"}}
        </p>
        <h1
          class="sm:text-5xl mt-6 text-4xl font-semibold leading-tight text-gray-800"
        >
          {{t "index.app_info" htmlSafe=true}}
        </h1>
        <p class="sm:text-xl mt-6 text-lg leading-relaxed text-gray-600">
          {{t "index.app_description"}}
        </p>
        <div class="mt-10">
          <LinkTo
            @route="registration"
            data-test-registration-form
            class="hover:bg-indigo-700 inline-flex items-center justify-center px-8 py-4 text-lg font-semibold text-white transition-colors bg-indigo-600 rounded-full"
          >
            {{t "index.cta"}}
          </LinkTo>
        </div>
      </div>
    </div>

    <div class="lg:w-6/12 lg:mt-0 w-full mt-10">
      <img
        src="/content/pages/index/hero.png"
        alt={{t "index.hero_image_alt"}}
        class="lg:ml-auto w-full max-w-xl mx-auto"
      />
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container px-4 py-10 mx-auto text-center">
    <p class="font-openSans mb-4 text-base text-gray-600">
      {{t "index.community.prompt"}}
    </p>
    <a
      href="https://max.ru/join/y1aDFZrrzytDjCkJJa5UuiNyCOgmy7Iui3LsNz-th5M"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-light border-blue-light hover:bg-blue-light inline-flex items-center px-6 py-3 text-sm font-semibold transition-colors border rounded-full hover:text-white"
    >
      {{t "index.community.link_text"}}
    </a>
  </div>
</section>

<AboutUs />
