{{outlet}}

{{#let
  (hash
    label="block mb-2 text-sm font-bold text-gray-700"
    input="appearance-none border-b-2 w-full text-sm leading-tight focus:outline-none focus:shadow-outline py-2"
  )
  as |style|
}}

  <div class="w-full max-w-lg mx-auto">
    <form
      class="px-16 pt-16 pb-16 pr-16 mb-6 bg-white rounded shadow-lg"
      {{on "submit" this.onSubmit}}
    >
      <div class="mb-4">
        <label for="email-input" class={{style.label}}>{{t
            "registration_form.email"
          }}</label>
        <Input
          id="email-input"
          class={{style.input}}
          placeholder={{t "registration_form.email"}}
          @value={{this.email}}
        />
      </div>

      <div class="flex mb-4">
        <Ui::Button
          @title={{t "password_reset_form.send_recovery_email"}}
          @type="button"
          class="w-full pl-2 pr-2"
          {{on "click" this.sendRecoveryLink}}
        />
      </div>

      {{#if this.enableRecoveryCodeProcessing}}

        <div class="mb-4">
          <label for="recovery-code-input" class={{style.label}}>{{t
              "password_reset_form.recovery_code"
            }}</label>
          <Input
            id="recovery-code-input"
            class={{style.input}}
            placeholder={{t "password_reset_form.recovery_code"}}
            @value={{this.code}}
          />
        </div>

        <div class="mb-4">
          <label for="new-password-input" class={{style.label}}>{{t
              "password_reset_form.new_password"
            }}</label>
          <Input
            id="new-password-input"
            class={{style.input}}
            placeholder={{t "password_reset_form.new_password"}}
            @value={{this.newPassword}}
          />
        </div>

        <div class="flex mb-4">
          <Ui::Button
            @title={{t "password_reset_form.update_password"}}
            @type="button"
            class="w-full pl-2 pr-2"
            {{on "click" this.changePassword}}
          />
        </div>

      {{/if}}

      {{#if this.error}}
        <div class="flex mb-4">
          <p class="mt-2 text-xs text-red-500">{{this.error}}</p>
        </div>
      {{/if}}

    </form>
  </div>

{{/let}}