{{outlet}}

{{#let
  (hash
    label="block mb-2 text-sm font-bold text-gray-700"
    input="appearance-none border-b-2 w-full text-sm leading-tight focus:outline-none focus:shadow-outline py-2"
  )
  as |style|
}}

  <div class="w-full max-w-lg mx-auto">
    <form class="px-16 pt-16 pb-16 pr-16 mb-6 bg-white rounded shadow-lg">
      <div class="mb-4">
        <label for="email-input" class={{style.label}}>Email</label>
        <Input
          id="email-input"
          class={{style.input}}
          placeholder="email"
          @value={{this.email}}
        />
      </div>

      <div class="flex mb-4">
        <Ui::Button
          @title="Send recovery email"
          {{on "click" this.sendRecoveryLink}}
        />
      </div>

      <div class="mb-4">
        <label for="recovery-code-input" class={{style.label}}>Recovery code</label>
        <Input
          id="recovery-code-input"
          class={{style.input}}
          placeholder="recovery code"
          @value={{this.code}}
        />
      </div>

      <div class="mb-4">
        <label for="new-password-input" class={{style.label}}>New password</label>
        <Input
          id="new-password-input"
          class={{style.input}}
          placeholder="new password"
          @value={{this.newPassword}}
        />
      </div>

      <div class="flex mb-4">
        <Ui::Button
          @title="Update password"
          {{on "click" this.changePassword}}
        />
      </div>
    </form>
  </div>

{{/let}}