{{#if (eq @kind "primary-big")}}
  <button type="button" class={{this.primaryButton}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "primary-big-pressed")}}
  <button type="button" class={{this.primaryPressed}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "primary-big-disabled")}}
  <button type="button" class={{this.primaryDisabled}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "secondary")}}
  <button type="button" class={{this.secondaryButton}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "secondary-pressed")}}
  <button type="button" class={{this.secondaryPressed}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "secondary-disabled")}}
  <button type="button" class={{this.secondaryDisabled}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "primary-small")}}
  <button type="button" class={{this.primarySmallButton}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "primary-small-pressed")}}
  <button type="button" class={{this.primarySmallButtonPressed}}>
    {{@title}}
  </button>
{{/if}}

{{#if (eq @kind "primary-small-disabled")}}
  <button type="button" class={{this.primarySmallButtonDisabled}}>
    {{@title}}
  </button>
{{/if}}