{{yield (hash tasks=@task.parent.tasks)}}
<br />
{{#if (eq this.lastAnswer @task.word)}}
  <ImageDisplayBlock
    data-test-right-answer-notification
    @pictureFileUrl={{@task.pictureFileUrl}}
    @label={{@task.word}}
    {{did-insert (perform this.runNextTaskTimer)}}
  />
{{else if (and @task.nextAttempt this.taskResultIsVisible)}}
  <AnswerCorrectnessWidget
    @isCorrect={{false}}
    {{did-insert (perform this.showTaskResult)}}
  />
{{else}}
  <AudioPlayer
    @audioFileUrl={{@task.audioFileUrl}}
    @disabled={{@disableAudioPlayer}}
    @transparent={{not-eq @mode "task"}}
  />
  <ul class="task-player__options mt-5">
    {{#each this.shuffledWords as |word|}}
      <li class="task-player__option">
        <button
          data-test-task-answer
          data-test-task-answer-option={{word}}
          disabled={{@disableAnswers}}
          type="button"
          class="task-player__option-button bg-transparent py-2 px-4 rounded text-blue-700
            {{if (eq @activeWord word) "border bg-blue-500"  "border border-blue-500"}}
            {{if
              @disableAnswers
              "opacity-50 cursor-default"
              "hover:bg-blue-500 hover:text-white hover:border-transparent"
            }}"
          {{on "click" (if (eq @mode "interact") (fn @onPlayText word) (fn this.handleSubmit word))}}
        >
          {{word}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}