<br />
{{#if (and (not this.showCorrectnessFrame) (eq this.lastAnswer @task.word))}}
  <ImageDisplayBlock
    data-test-right-answer-notification
    @pictureFileUrl={{@task.pictureFileUrl}}
    @label={{@task.word}}
    {{did-insert (perform this.runNextTaskTimer)}}
  />
{{else}}
  <AudioPlayer
    @audioFileUrl={{@task.audioFileUrl}}
    @autoplay={{@autoplay}}
    @disabled={{@disableAudioPlayer}}
  />
  <ul class="task-player__options mt-5">
    {{#each this.shuffledWords as |word|}}
      {{#let
        (eq word @task.word)
        (eq this.lastAnswer word) as |isCorrect isChosen|
      }}
        <li class="task-player__option">
          {{#let (and this.showCorrectnessFrame isChosen) as |isTarget|}}
            <button
              data-test-task-answer
              data-test-task-answer-option={{word}}
              data-test-correct-answer={{and isTarget isCorrect}}
              data-test-not-correct-answer={{and isTarget (not isCorrect)}}
              disabled={{@disableAnswers}}
              class="task-player__option-button bg-transparent py-2 px-4 border border-blue-500 rounded text-blue-700


                {{if isCorrect "is-correct" "is-not-correct"}}



                {{if isTarget "is-checked"}}



                {{if
                  @disableAnswers
                  "opacity-50 cursor-default"
                  "hover:bg-blue-500 hover:text-white hover:border-transparent"
                }}"
              {{on "click" (fn this.handleSubmit word)}}
            >
              {{word}}
            </button>
          {{/let}}
        </li>
      {{/let}}
    {{/each}}
  </ul>
{{/if}}