<div class="w-full max-w-xs mx-auto">
  <form
    class="bg-white rounded px-8 pt-6 pb-8 mb-4


      {{unless this.registrationInProgress "shadow-lg"}}"
    {{on "submit" this.onSubmit}}
  >
    {{#if this.registrationInProgress}}
      <LoadingSpinner />
    {{else}}
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "rigistr_form.name"}}
          @model={{this}}
          @name="firstName"
        />
      </div>
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "rigistr_form.surname"}}
          @model={{this}}
          @name="lastName"
        />
      </div>
      <div class="mb-4">
        <LoginForm::Input
          min={{this.minDateString}}
          max={{this.maxDateString}}
          required
          @warning={{this.warningErrorDate}}
          @label={{t "rigistr_form.birthday"}}
          @model={{this}}
          @name="birthday"
          @type="date"
        />
      </div>
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "rigistr_form.email"}}
          @model={{this}}
          @name="email"
          @type="email"
        />
      </div>
      <div class="mb-6">
        <LoginForm::Input
          @label={{t "rigistr_form.password"}}
          @model={{this}}
          @name="password"
          @type="password"
        />
        {{#if (or this.usernameError this.passwordError)}}
          <p data-test-form-warning class="text-xs italic text-red-500">
            {{t "rigistr_form.warning_enter_credentials"}}
          </p>
        {{/if}}
        {{#if this.errorMessage}}
          <p data-test-form-error class="text-xs italic text-red-500">
            {{this.errorMessage}}
          </p>
        {{/if}}
      </div>
      <div class="flex mb-4">
        <button
          data-test-submit-form
          type="submit"
          class="hover:bg-blue-700 focus:outline-none focus:shadow-outline flex-grow px-4 py-2 font-bold text-white bg-blue-500 rounded"
        >
          {{t "rigistr_form.registration"}}
        </button>
      </div>
      <div class="flex justify-end">
        <LinkTo
          @route="login"
          class="hover:text-blue-800 inline-block text-sm font-bold text-blue-500 align-baseline"
        >
          {{t "rigistr_form.sign_in"}}
        </LinkTo>
      </div>
    {{/if}}
  </form>
</div>