<div class="w-full max-w-lg mx-auto">
  <form
    class="bg-white rounded px-16 pt-16 pb-16 pr-16 mb-6


      {{unless this.registrationInProgress "shadow-lg"}}"
    {{on "submit" this.onSubmit}}
  >
    <div class="flex mb-4">
      <div
        class="w-1/2 text-sm font-bold tracking-wider text-center border-b-2 border-black"
      >
        {{t "registration_form.registration_hover"}}
      </div>
      <LinkTo
        @route="login"
        class="hover:text-blue-1100 inline-block w-1/2 pb-3 text-sm font-bold tracking-wider text-center text-gray-500 border-b-2"
      >
        {{t "registration_form.sign_in"}}
      </LinkTo>
    </div>
    {{#if this.registrationInProgress}}
      <LoadingSpinner />
    {{else}}
      <div class="mb-4">
        <LoginForm::Input
          required
          @trimRight={{false}}
          @warning={{this.warningName}}
          @label={{t "registration_form.name"}}
          @model={{this}}
          @name="firstName"
          @placeholder={{t "registration_form.name_placeholder"}}
        />
      </div>
      <div class="mb-4">
        <LoginForm::Input
          required
          minlength="4"
          maxlength="4"
          pattern="[0-9]{4}"
          @warning={{this.warningErrorDate}}
          @label={{t "registration_form.birthday"}}
          @placeholder={{t "registration_form.birthday_placeholder"}}
          @model={{this}}
          @name="birthday"
        />
      </div>
      <div class="mb-4">
        <p class="mb-2 text-sm font-bold text-gray-700">
          {{t "registration_form.gender"}}
        </p>
        <input
          required
          name="gender"
          value="FEMALE"
          type="radio"
          class="w-3 h-3 border-gray-300"
          id="female"
          {{on "change" this.setGender}}
        >
        <label class="ml-1 text-sm text-gray-500" for="female">
          {{t "registration_form.gender_female"}}
        </label>
        <input
          required
          name="gender"
          type="radio"
          value="MALE"
          class="w-3 h-3 ml-4"
          id="male"
          {{on "change" this.setGender}}
        >
        <label class="ml-1 text-sm text-gray-500" for="male">
          {{t "registration_form.gender_male"}}
        </label>

        {{#if this.warningGender}}
          <p
            data-test-warning-message="gender"
            class="mt-2 text-xs text-red-500"
          >
            {{this.warningGender}}
          </p>
        {{/if}}
      </div>
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "registration_form.email"}}
          @placeholder={{t "registration_form.email_placeholder"}}
          @model={{this}}
          @name="email"
          @type="email"
        />
      </div>
      <div class="mb-4">
        <LoginForm::Input
          @label={{t "registration_form.password"}}
          @placeholder={{t "registration_form.password_placeholder"}}
          @model={{this}}
          @name="password"
          @type="password"
        />
      </div>
      <div class="mb-6">
        <LoginForm::Input
          @label={{t "registration_form.repeat_password"}}
          @placeholder={{t "registration_form.password_placeholder"}}
          @model={{this}}
          @warning={{this.warningPasswordsEquality}}
          @name="repeatPassword"
          @type="password"
        />
        {{#if (or this.usernameError this.passwordError)}}
          <p data-test-form-warning class="mt-2 text-xs text-red-500">
            {{t "registration_form.warning_enter_credentials"}}
          </p>
        {{/if}}
        {{#if this.errorMessage}}
          <p data-test-form-error class="mt-2 text-xs text-red-500">
            {{this.errorMessage}}
          </p>
        {{/if}}
      </div>
      <div class="flex mb-4">
        <input
          id="agreement"
          name="agreement"
          type="checkbox"
          {{on 'change' this.setAgreedStatus}}
        />
        <label class="block ml-2 text-sm" for="agreement">
          {{t "registration_form.agreement_part1"}}
          <LinkTo
            @route="user-agreement"
            class="hover:text-indigo-600 text-indigo-500"
          >
            {{t "registration_form.agreement_part2"}}
          </LinkTo>
        </label>
      </div>
      <div class="flex mb-4">
        <p class="text-xs">Уважаемый пользователь, в настоящее время функционал смены, напоминания пароля в разработке и не доступен для использования, поэтому просьба запомнить пароль удобным для Вас способом.</p>
      </div>
      <div class="flex mb-4">
        <Ui::Button @type="submit" class="w-full" disabled={{not this.agreed}} data-test-submit-form @title={{t "registration_form.registration"}} />
      </div>
    {{/if}}
  </form>
</div>