<div class= "{{style-namespace "exercise-type"}} shadow-md">
  <button class="card bg-blue-100" type="button">
    <span ...attributes></span>
    <h4 class="card__title">
      {{@initial}}
    </h4>
    <div class="progress">
      <div class="svg-box">
        <ProgressBarCircle @percent={{@progress}} />
      </div>
      <span class="progress__text">
        {{t "exercise.progress"}}
      </span>
      <span class="progress__completed">
        {{@completed}}
      </span>
      <span class="progress__total">
        {{@total}}
      </span>
    </div>
  </button>
</div>