<ProgressIndicator @progressItems={{this.tasksCopy}} />
{{#if this.tasksCopy.length}}
  {{#if this.uncompletedTasks.length}}
    <AudioPlayer
      @audioFileUrl={{this.audioFiles}}
      @autoplay={{true}}
      @disabled={{@task.pauseExecution}}
    />
    <div class="flex mt-4">
      {{#each @task.selectedItemsOrder as |type|}}
        <div
          class="column flex-1 flex-col type-column
            {{if (not (eq @task.selectedItemsOrder.lastObject type)) "mr-2"}}"
        >
          {{#let
            (or
              this.audio.player.isPlaying @task.pauseExecution
            ) as |disableAnswer|
          }}
            {{#each (get @task.answerOptions type) as |answerOption|}}
              <TextImageButton
                @checked={{this.answerCompleted}}
                @isCorrect={{this.isCorrect}}
                @disabled={{disableAnswer}}
                @isSelected={{eq
                  (get this.currentAnswerObject type)
                  answerOption.word
                }}
                @clickAction={{action this.checkMaybe answerOption}}
                @pictureFileUrl={{concat "/" answerOption.pictureFileUrl}}
                @word={{answerOption.word}}
              />
            {{/each}}
          {{/let}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <AnswerCorrectnessWidget @isCorrect={{true}} />
  {{/if}}
{{/if}}