<div class={{style-namespace "series-navigation"}} ...attributes>
  {{#each this.exerciseHeaders as |header level|}}
    <div
      class="max-w-7xl sm:px-6 lg:px-8 mx-auto mb-10"
      {{scroll-top (eq level 0)}}
    >
      <div class="max-w-none mx-auto">
        <div class="sm:rounded-lg sm:shadow navigation-block overflow-hidden">
          <div class="sm:px-6 px-4 py-5">
            <h3
              data-test-series-navigation-header
              class="navigation-block__header text-lg font-bold leading-3"
            >
              {{header}}
            </h3>
          </div>
          {{#each
            (chunk
              3 (filter-by "name" header this.sortedExercises)
            ) as |exercises|
          }}
            <ul
              data-test-exercises-name-group
              class="flex flex-row justify-around mb-5 ml-6 mr-6"
            >
              {{#each exercises as |exercise|}}
                <li>
                  <div class="exercise-block__levels flex mt-4 ml-2 mr-2">
                    <LinkTo
                      @route="group.series.exercise"
                      @model={{exercise.id}}
                      data-test-series-navigation-list-link
                      data-test-exercise-level={{exercise.level}}
                      data-test-exercise-name={{exercise.name}}
                      @disabled={{not exercise.canInteract}}
                      title={{concat (t "task_link.exercise") " " exercise.level
                      }}
                      class="task-square-link exercise-block__level hover:shadow-md flex-1 p-2 m-4 mb-6 bg-white rounded-lg shadow-lg"
                    >
                      <Ui::Icon::Tree
                        @level={{level}}
                        @enabled={{exercise.canInteract}}
                      />
                      <div class="check-container">
                        <Ui::Icon::Check
                          @isAvailable={{and
                            exercise.canInteract
                            (not exercise.isCompleted)
                          }}
                          @isCompleted={{exercise.isCompleted}}
                          @isLocked={{and
                            (not exercise.canInteract)
                            (not exercise.isCompleted)
                          }}
                        />
                      </div>
                    </LinkTo>
                  </div>
                </li>
              {{/each}}
            </ul>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>