<div class={{style-namespace "series-navigation"}} ...attributes>
  {{#each this.exerciseHeaders as |header|}}
    <div class="mx-auto mb-10">
      <div class="max-w-none mx-auto">
        <div class="sm:rounded-lg pb-4 overflow-hidden">
          <div class="sm:px-6 hidden px-4 py-5">
            //remove hidden when "Noise filter will be implemented"
            <h3
              data-test-series-navigation-header
              class="navigation-block__header text-lg font-bold leading-3"
            >
              {{header}}
            </h3>
          </div>
          {{#let
            (sort-by "level" (filter-by "name" header this.sortedExercises))
            as |slices|
          }}
            <div
              data-test-exercises-name-group
              class="sm:grid-cols-4 md:grid-cols-5 gap-y-2 sm:gap-y-3 grid justify-center grid-cols-3 mx-2 ml-0"
            >
              {{#each slices as |exercise|}}
                {{#let
                  (contains exercise.id (or @available (array)))
                  as |isAvailable|
                }}
                  <div class="flex">
                    <Ui::ExerciseButton
                      @exercise={{exercise}}
                      @title={{exercise.level}}
                      @isAvailable={{isAvailable}}
                      class="exercise-block__level flex mt-2 ml-2 mr-2"
                      data-test-series-navigation-list-link
                      data-test-exercise-level={{exercise.level}}
                      data-test-exercise-name={{exercise.name}}
                    />
                  </div>
                {{/let}}
              {{/each}}
            </div>
          {{/let}}
        </div>
      </div>
    </div>
  {{/each}}
</div>