<div class={{style-namespace "series-navigation"}} ...attributes>
  {{#each this.exerciseHeaders as |header|}}
    <div class="max-w-7xl sm:px-6 lg:px-8 py-6 mx-auto">
      <div class="max-w-none mx-auto">
        <div class="sm:rounded-lg sm:shadow navigation-block overflow-hidden">
          <div class="sm:px-6 px-4 py-5">
            <h3
              data-test-series-navigation-header
              class="navigation-block__header text-lg font-bold leading-3"
            >
              {{header}}
            </h3>
          </div>
          <ul>
            <li>
              <div
                data-test-exercises-name-group
                class="exercise-block__levels flex mt-4 ml-2 mr-2"
              >
                {{#each this.sortedExercises as |exercise|}}
                  {{#if (eq exercise.name header)}}
                    <LinkTo
                      @route="group.series.exercise"
                      @model={{exercise.id}}
                      data-test-series-navigation-list-link
                      data-test-exercise-level={{exercise.level}}
                      data-test-exercise-name={{exercise.name}}
                      @disabled={{not exercise.canInteract}}
                      class="task-square-link exercise-block__level shadow-lg flex-1 p-2 m-4 mb-6 bg-white rounded-lg"
                    >
                      <FaIcon
                        @icon="headphones-alt"
                        class={{if
                          exercise.canInteract
                          "exercise-block__icon fa-3x"
                          "exercise-block__icon inactive-icon fa-3x"
                        }}
                      />
                      <div>
                        {{t "task_link.exercise"}}
                        {{exercise.level}}
                        {{! lock  ? }}
                        <FaIcon
                          @icon="check-circle"
                          class="exercise-block__status-icon"
                        />
                      </div>
                    </LinkTo>
                  {{/if}}
                {{/each}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>