<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16">
  <h2 class="sm:text-4xl mb-6 text-2xl font-semibold text-center">

    {{t "about_us.advantages"}}
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    {{t "about_us.train30"}}
  </div>
  <div class="xl:flex max-w-screen-xl m-auto">
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        {{t "about_us.adv1.title"}}
      </h4>
      <div class="font-openSans">
        {{t "about_us.adv1.content"}}
      </div>
    </div>
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        {{t "about_us.adv2.title"}}
      </h4>
      <div class="font-openSans">
       {{t "about_us.adv2.content"}}
      </div>
    </div>
    <div class="flex-1 p-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        {{t "about_us.adv3.title"}}
      </h4>
      <div class="font-openSans">
       {{t "about_us.adv3.content"}}
      </div>
    </div>
  </div>
</section>