<div
  class="{{style-namespace "breadcrumbs"}} breadcrumbs-container"
  ...attributes
>

    <ul aria-label="Breadcrumbs" class="breadcrumbs list-none">
      <li>
        <LinkTo @route="groups" class="inline-block align-top">
          <Ui::Icon::Headphones />
        </LinkTo>
      </li>
      {{#each this.parts as |part|}}
          <li class="font-bold text-blue-900" data-test-breadcrumb={{part.route}}>
            <LinkTo @route={{part.route}} @model={{part.model}}>
              {{part.name}}
            </LinkTo>
          </li>
      {{/each}}
    </ul>

</div>