<div
  class="{{style-namespace "breadcrumbs"}} breadcrumbs-container"
  ...attributes
>
  {{#let (or @group @series.group) as |group|}}
    <ul aria-label="Breadcrumbs" class="breadcrumbs list-none">
      <li class="font-bold text-red-500">
        <LinkTo @route="groups">{{t "breadcrumbs.groups"}}</LinkTo>
      </li>
      <li class="font-bold text-blue-900" data-test-group-breadcrumb>
        <LinkTo @route="group" @model={{group}}>
          {{group.name}}
        </LinkTo>
      </li>
      {{#if (is-active "group.series")}}
        {{#let (model-for-route "group.series") as |series|}}
          <li class="font-bold text-blue-900" data-test-series-breadcrumb>
            <LinkTo @route="group.series" @models={{array group series}}>
              {{series.firstObject.parent.name}}
            </LinkTo>
          </li>
          {{#if (is-active "group.series.subgroup")}}
            {{#let (model-for-route "group.series.subgroup") as |exercises|}}
              <li class="font-bold text-blue-900" data-test-subgroups-breadcrumb>
                <LinkTo @route="group.series.subgroup" @models={{array group series exercises.firstObject.parent}}>
                  {{exercises.firstObject.parent.name}}
                </LinkTo>
              </li>
            {{/let}}
          {{/if}}

        {{/let}}
      {{/if}}
    </ul>
  {{/let}}
</div>