<div class="{{style-namespace "task-player/phrase"}} flex flex-grow flex-col" ...attributes   {{did-insert this.onInsert}}>
  {{yield (hash tasks=this.tasksCopy)  to="header"}}
  {{#if this.tasksCopy.length}}

    <Ui::TaskContent>
      <ul class="task-player__options mt-5">
        {{#each this.task.answerOptions key="word" as |answerOption|}}
          <TaskPlayer::SingleSimpleWords::Option
            @activeWord={{@activeWord}}
            @answerOption={{answerOption}}
            @checkMaybe={{this.checkMaybe}}
            @disableAnswers={{@disableAnswers}}
            @mode={{@mode}}
            @isCorrect={{this.isCorrect}}
            @onPlayText={{@onPlayText}}
          />
        {{/each}}
      </ul>
    </Ui::TaskContent>

    {{yield (hash audioFileUrl=this.audioFileUrl) to="footer"}}

  {{/if}}
</div>