<div class={{style-namespace "audio-player"}} ...attributes

  {{did-update this.onUpdateProgress this.audioPlayingProgress}}
  {{did-insert this.onUpdateProgress this.audioPlayingProgress}}
  {{did-update this.onUpdateSource @audioFileUrl}}
  {{did-insert this.onUpdateSource @audioFileUrl}}
>
  {{! template-lint-configure no-invalid-interactive false }}
  {{#let this.isPlaying as |disablePlayButton|}}
    <button
      data-test-play-audio-button
      data-test-playing-progress={{this.audioPlayingProgress}}
      type="button"
      class="bg-blue-500 text-white font-bold rounded-full
        {{if disablePlayButton "opacity-50" "hover:bg-blue-700"}}
        {{if @transparent "invisible"}}
      "
      disabled={{disablePlayButton}}
      {{on "click" this.playAudio}}
      {{ref this "buttonElement"}}
    >
      <FaIcon @icon="redo-alt" />
    </button>
  {{/let}}
</div>