{{! template-lint-configure no-invalid-interactive false }}
{{#let (or this.isPlaying @disabled) as |disablePlayButton|}}
  <button
    data-test-play-audio-button
    data-test-playing-progress={{this.audioPlayingProgress}}
    class="bg-blue-500 text-white font-bold rounded-full


      {{if disablePlayButton "opacity-50" "hover:bg-blue-700"}}"
    disabled={{disablePlayButton}}
    {{on "click" this.playAudio}}
    {{ref "buttonElement" this}}
  >
    <FaIcon @icon="redo-alt" />
  </button>
{{/let}}