<br />
<audio controls autoplay src={{@task.audioFileUrl}}></audio>
{{#if (eq this.lastAnswer @task.word)}}
  <p class="task-player__results" data-test-right-answer-notification>
    <br />
    Ваш ответ: «
    {{this.lastAnswer}}
    »
    <br />
    👍 Верно!
    <br />
    <br />
    {{#if (not (and @lastTask @lastExercise))}}
      <button
        data-test-next-task-button
        autofocus
        class="c-button u-small"
        onclick={{action this.onFinished}}
      >
        {{if @lastTask "Перейти к следующему упражнению »" "Далee »"}}
      </button>
    {{/if}}
  </p>
{{else}}
  <ul class="task-player__options">
    {{#each this.shuffledWords as |word|}}
      <li class="task-player__option">
        <button
          data-test-task-answer
          data-test-task-answer-option={{word}}
          onclick={{action this.handleSubmit word}}
          class="task-player__option-button c-button c-button--ghost u-super"
        >
          {{word}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}