{{#let (query-node "#exercise-steps-slot") as |node|}}
  {{#if node}}
    {{#in-element node}}
      {{#unless this.justEnteredTask}}
        <ExerciseSteps @activeStep={{this.mode}} @onClick={{this.onModeChange}} />
      {{/unless}}
    {{/in-element}}
  {{/if}}
{{/let}}

{{#let (query-node "#exercise-timer-slot") as |node|}}
  {{#if node}}
    {{#in-element node}}
      <Timer @paused={{true}} @hideControls={{this.justEnteredTask}} />
    {{/in-element}}
  {{/if}}
{{/let}}

<div
  class="{{style-namespace "task-player"}}

     flex flex-1"
  ...attributes
>
  {{#component
    this.componentType
    onRightAnswer=this.onRightAnswer
    onWrongAnswer=this.onWrongAnswer
    onShuffled=this.onShuffled
    task=@task
    disableAnswers=this.disableAnswers
    disableAudioPlayer=this.disableAudioPlayer
    activeWord=this.activeWord
    onPlayText=this.playText
    mode=this.mode as |context|
  }}
    {{#if (eq this.mode "task")}}
      <ProgressIndicator @progressItems={{context.tasks}} />
    {{/if}}
  {{/component}}
  {{#if this.justEnteredTask}}
    <StartTaskButton @startTask={{this.startTask}} />
  {{/if}}
</div>