<br />
<AudioPlayer @audioFileUrl={{@task.audioFileUrl}} @autoplay={{true}} />
{{#if (eq this.lastAnswer @task.word)}}
  <div class="task-player__right-answer-data flex flex-wrap flex-1 mt-5">
    <div
      class="task-player__results flex-1"
      data-test-right-answer-notification
    >
      <br />
      <span class="task-player__results__answer">
        Ваш ответ: «
        {{this.lastAnswer}}
        »
      </span>
      <br />
      👍 Верно!
      <br />
      <br />
      {{#if (not @task.isLastTask)}}
        <button
          data-test-next-task-button
          autofocus
          class="bg-blue-500 text-white py-2 px-4 rounded"
          onclick={{if @task.isCompleted (action this.onRightAnswer)}}
        >
          Далee »
        </button>
      {{/if}}
    </div>
    {{#if @task.pictureFileUrl}}
      <div
        aria-label="изображение {{@task.word}}"
        class="task-player__image flex-1 rounded shadow-md mx-auto"
        style="background-image: url({{@task.pictureFileUrl}})"
      ></div>
    {{/if}}
  </div>
{{else}}
  <ul class="task-player__options mt-5">
    {{#each this.shuffledWords as |word|}}
      <li class="task-player__option">
        <button
          data-test-task-answer
          data-test-task-answer-option={{word}}
          onclick={{action this.handleSubmit word}}
          class="task-player__option-button bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        >
          {{word}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}