{{#let (query-node "#exercise-timer-slot") as |node|}}
  {{#if node}}
    {{#in-element node}}
      <Timer @hideControls={{this.justEnteredTask}} />
    {{/in-element}}
  {{/if}}
{{/let}}
<div
  class="{{style-namespace "task-player"}}


     flex flex-1"
  ...attributes
>
  {{#component
    this.componentType
    onRightAnswer=this.onRightAnswer
    onWrongAnswer=this.onWrongAnswer
    onShuffled=this.onShuffled
    task=@task
    disableAnswers=this.disableAnswers
    disableAudioPlayer=this.disableAudioPlayer
    activeWord=this.activeWord
    onPlayText=this.playText
    onModeChange=this.onModeChange
    justEnteredTask=this.justEnteredTask
    mode=this.mode as |context|
  }}

  <ProgressSausage
      style="visibility: {{if this.isProgressBarVisible 'visible' 'hidden'}};"
      @progressItems={{context.tasks}}
  />

  {{/component}}

  {{#if this.justEnteredTask}}
    <StartTaskButton @startTask={{this.startTask}} />
  {{/if}}
</div>