{{#-in-element (query-node "#exercise-steps-slot")}}
  <ExerciseSteps @activeStep={{this.mode}} @onClick={{this.onModeChange}} />
{{/-in-element}}
<div class={{style-namespace "task-player"}} ...attributes>
  {{component
    this.componentType
    onRightAnswer=this.onRightAnswer
    onWrongAnswer=this.onWrongAnswer
    onShuffled=this.onShuffled
    task=@task
    disableAnswers=this.disableAnswers
    disableAudioPlayer=this.disableAudioPlayer
    activeWord=this.activeWord
    onPlayText=this.playText
    mode=this.mode
  }}
  {{#if this.justEnteredTask}}
    <StartTaskButton @startTask={{this.startTask}} />
  {{/if}}
</div>