{{#if @label}}
  <label for={{@name}} class="block mb-2 text-sm font-bold text-gray-700">
    {{@label}}
  </label>
{{/if}}
<Input
  maxlength={{this.maxlength}}
  name={{@name}}
  @value={{this.value}}
  class="{{if this.hasError "border-red-500"}}
    appearance-none border-b-2 w-full text-sm leading-tight focus:outline-none focus:shadow-outline py-2"
  id={{@name}}
  type={{or @type "text"}}
  placeholder={{or @placeholder ""}}
  required="true"
  ...attributes
/>
{{#if this.warning}}
  <p
    data-test-warning-message={{@name}}
    warningMessage={{@warning}}
    class="mt-2 text-xs text-red-500"
  >
    {{this.warning}}
  </p>
{{/if}}