<div ...attributes class={{style-namespace "group-navigation"}}>
  <ul class="group-nav-list">
    {{#each (take 3 (sort-by "id" @group.series)) as |series index|}}
      <li class="mb-4">
        <LinkTo
          @tagName="button"
          type="button"
          class="overflow-hidden group-item rounded-md shadow
            {{concat "item-" index}}

            {{if
              (is-active "group.series" series.id)
              "active-group"
              "not-active-group"
            }}"
          data-test-active-link={{series.name}}
          @activeClass="active"
          @route="group.series"
          @model={{series}}
        >
          <div class="sm:p-10 px-4 py-6">
            <div class="group-image">

            </div>
            <h4 class="group-name mt-6 text-xl font-bold align-text-bottom">
              {{series.name}}
            </h4>
          </div>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>