<div
  class="{{style-namespace "answer-correctness-widget"}}

     flex flex-wrap flex-1 flex-col text-center justify-evenly pb-0 items-center"
  ...attributes
>
  <h3 class="mt-6 mb-6 text-2xl font-semibold">
    {{if
      @isCorrect
      (t "exercise_messages.successfully")
      (t "exercise_messages.unsuccessfully")
    }}
  </h3>
  {{#if @isCorrect}}
    <div
      data-test-answer-correctness-widget
      data-test-is-correct={{@isCorrect}}
      data-test-isnt-correct={{not @isCorrect}}
      class="object-center"
    >
      <svg
        width="340"
        height="340"
        viewBox="0 0 340 340"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <rect width="340" height="340" fill="#EDF8FE"></rect>
          <path
            d="M91.1024 329.606C89.8678 329.606 88.6333 329.144 87.6768 328.218C85.7275 326.33 85.6807 323.222 87.5754 321.277L93.6885 314.991C95.5806 313.046 98.6943 312.999 100.644 314.888C102.593 316.776 102.64 319.884 100.748 321.829L94.6319 328.114C93.6677 329.108 92.3863 329.606 91.1024 329.606Z"
            fill="#FF6373"
          ></path>
          <path
            d="M157.457 88.4941C156.225 88.4941 154.988 88.0324 154.034 87.1063C152.085 85.2179 152.038 82.1103 153.93 80.1674L160.046 73.8796C161.938 71.9341 165.049 71.8874 166.998 73.7758C168.948 75.6642 168.994 78.7718 167.102 80.7173L160.987 87.0052C160.022 87.9961 158.741 88.4941 157.457 88.4941Z"
            fill="#FF4E61"
          ></path>
          <path
            d="M298.618 66.6657C297.383 66.6657 296.149 66.2065 295.192 65.2805C293.243 63.392 293.196 60.2844 295.088 58.3389L301.204 52.0511C303.096 50.1082 306.21 50.0615 308.159 51.9499C310.108 53.8358 310.155 56.946 308.263 58.8889L302.147 65.1767C301.183 66.1676 299.902 66.6657 298.618 66.6657Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M298.618 307.975C297.383 307.975 296.149 307.513 295.192 306.589C293.243 304.701 293.196 301.593 295.088 299.648L301.204 293.36C303.096 291.417 306.21 291.368 308.159 293.256C310.108 295.145 310.155 298.252 308.263 300.198L302.147 306.486C301.183 307.477 299.902 307.975 298.618 307.975Z"
            fill="#F68820"
          ></path>
          <path
            d="M65.2525 74.9794C64.0205 74.9794 62.7834 74.5202 61.8295 73.5942C59.8802 71.7058 59.8334 68.5982 61.7255 66.6527L67.8411 60.3648C69.7333 58.4219 72.847 58.3752 74.7963 60.2637C76.743 62.1521 76.7897 65.2597 74.8976 67.2026L68.782 73.4904C67.8178 74.4813 66.5364 74.9794 65.2525 74.9794Z"
            fill="#F68820"
          ></path>
          <path
            d="M31.4776 185.157C30.2456 185.157 29.0085 184.698 28.0546 183.772C26.1053 181.883 26.0585 178.775 27.9506 176.83L34.0636 170.542C35.9558 168.597 39.0695 168.55 41.0188 170.438C42.9681 172.327 43.0148 175.434 41.1227 177.38L35.0071 183.668C34.0455 184.659 32.7615 185.157 31.4776 185.157Z"
            fill="#77A847"
          ></path>
          <path
            d="M167.201 184.936L151.235 193.567C147.095 195.805 142.255 192.189 143.045 187.447L146.094 169.17C146.408 167.287 145.803 165.367 144.472 164.034L131.555 151.087C128.204 147.731 130.052 141.881 134.684 141.189L152.532 138.522C154.372 138.247 155.96 137.062 156.781 135.347L164.766 118.717C166.837 114.406 172.818 114.406 174.889 118.717L182.871 135.347C183.695 137.062 185.283 138.247 187.12 138.522L204.971 141.189C209.6 141.881 211.448 147.731 208.097 151.087L195.183 164.034C193.852 165.367 193.244 167.287 193.558 169.17L196.607 187.447C197.4 192.189 192.56 195.805 188.42 193.567L172.454 184.936C170.808 184.047 168.844 184.047 167.201 184.936Z"
            fill="#11CDEF"
          ></path>
          <path
            d="M169.826 340C167.11 340 164.909 337.803 164.909 335.092V258.331C164.909 255.62 167.11 253.42 169.826 253.42C172.542 253.42 174.744 255.62 174.744 258.331V335.092C174.744 337.803 172.542 340 169.826 340Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M169.865 237.35H169.789C167.073 237.35 164.869 235.151 164.869 232.44C164.869 229.729 167.071 227.532 169.789 227.532H169.865C172.581 227.532 174.782 229.729 174.782 232.44C174.782 235.151 172.581 237.35 169.865 237.35Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M169.865 220.466C169.857 220.466 169.849 220.466 169.844 220.466H169.766C167.05 220.456 164.859 218.248 164.869 215.537C164.882 212.832 167.081 210.65 169.787 210.65H169.81H169.885C172.601 210.661 174.792 212.868 174.782 215.579C174.772 218.282 172.57 220.466 169.865 220.466Z"
            fill="#F68820"
          ></path>
          <path
            d="M81.3298 153.328C80.0458 153.328 78.7645 152.83 77.8002 151.839L25.0105 97.56C23.1184 95.6145 23.1625 92.5069 25.1119 90.6211C27.0612 88.7326 30.1748 88.7793 32.067 90.7222L58.4631 117.862L84.8593 145.002C86.7514 146.944 86.7046 150.055 84.7553 151.94C83.7989 152.867 82.5643 153.328 81.3298 153.328Z"
            fill="#FF6373"
          ></path>
          <path
            d="M99.1079 171.663C97.8681 171.663 96.6284 171.198 95.6719 170.265C93.7278 168.371 93.6914 165.263 95.5888 163.323L95.6433 163.269C97.5407 161.331 100.654 161.292 102.598 163.188C104.543 165.082 104.579 168.189 102.679 170.13L102.627 170.184C101.663 171.167 100.387 171.663 99.1079 171.663Z"
            fill="#F68820"
          ></path>
          <path
            d="M110.718 183.6C109.483 183.6 108.249 183.139 107.292 182.213C105.345 180.324 105.299 177.217 107.191 175.274L107.243 175.217C109.137 173.271 112.251 173.227 114.198 175.115C116.147 177.004 116.194 180.111 114.302 182.057L114.247 182.111C113.283 183.102 112.002 183.6 110.718 183.6Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M258.322 151.399C257.087 151.399 255.853 150.939 254.899 150.013C252.95 148.125 252.903 145.017 254.795 143.072L307.585 88.7951C309.477 86.8496 312.59 86.8029 314.54 88.6913C316.489 90.5798 316.536 93.6874 314.644 95.6329L261.851 149.91C260.887 150.901 259.606 151.399 258.322 151.399Z"
            fill="#F68820"
          ></path>
          <path
            d="M240.544 169.735C239.27 169.735 237.999 169.245 237.038 168.267L236.983 168.213C235.078 166.278 235.107 163.17 237.043 161.271C238.982 159.37 242.095 159.398 243.998 161.331L244.053 161.385C245.955 163.32 245.929 166.428 243.99 168.327C243.034 169.266 241.789 169.735 240.544 169.735Z"
            fill="#FF4E61"
          ></path>
          <path
            d="M228.934 181.673C227.65 181.673 226.368 181.175 225.404 180.184L225.35 180.129C223.46 178.184 223.504 175.076 225.454 173.188C227.403 171.3 230.516 171.346 232.409 173.289L232.463 173.344C234.353 175.289 234.309 178.397 232.359 180.285C231.403 181.211 230.168 181.673 228.934 181.673Z"
            fill="#F68820"
          ></path>
          <path
            d="M223.33 77.4904C222.504 77.4904 221.667 77.2829 220.9 76.8445C218.54 75.5008 217.719 72.5022 219.065 70.1494L256.9 3.97401C258.246 1.62125 261.248 0.801551 263.608 2.14524C265.968 3.48893 266.789 6.48759 265.443 8.84034L227.609 75.0157C226.701 76.6007 225.041 77.4904 223.33 77.4904Z"
            fill="#62D38F"
          ></path>
          <path
            d="M210.603 99.8272C209.743 99.8272 208.875 99.6042 208.082 99.132L208.017 99.0931C205.688 97.7028 204.927 94.6885 206.322 92.3617C207.715 90.0323 210.735 89.2775 213.067 90.6678L213.132 90.7068C215.463 92.0971 216.222 95.1114 214.829 97.4382C213.906 98.9764 212.277 99.8272 210.603 99.8272Z"
            fill="#F68820"
          ></path>
          <path
            d="M202.281 114.382C201.415 114.382 200.539 114.154 199.747 113.676L199.682 113.638C197.355 112.237 196.607 109.22 198.008 106.898C199.411 104.577 202.434 103.832 204.76 105.23L204.825 105.269C207.151 106.67 207.9 109.687 206.496 112.009C205.574 113.536 203.947 114.382 202.281 114.382Z"
            fill="#77A847"
          ></path>
          <path
            d="M116.415 77.4905C114.705 77.4905 113.044 76.6007 112.137 75.0132L74.3023 8.84041C72.9559 6.48506 73.7773 3.489 76.1346 2.14531C78.4946 0.801621 81.4991 1.61873 82.8454 3.97408L120.68 70.1469C122.026 72.5022 121.205 75.5009 118.848 76.8446C118.078 77.2829 117.242 77.4905 116.415 77.4905Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M129.143 99.8273C127.474 99.8273 125.845 98.9791 124.922 97.4487C123.524 95.1244 124.277 92.1076 126.604 90.712L126.671 90.6731C129 89.2776 132.02 90.0272 133.418 92.3515C134.819 94.6757 134.066 97.6899 131.737 99.0881L131.672 99.127C130.879 99.6017 130.006 99.8273 129.143 99.8273Z"
            fill="#FF4E61"
          ></path>
          <path
            d="M137.465 114.382C135.801 114.382 134.179 113.542 133.254 112.016C131.845 109.697 132.589 106.681 134.91 105.275L134.975 105.236C137.301 103.832 140.324 104.572 141.732 106.891C143.138 109.21 142.398 112.226 140.074 113.632L140.009 113.671C139.211 114.154 138.333 114.382 137.465 114.382Z"
            fill="#F68820"
          ></path>
          <path
            d="M290.859 237.257L280.53 244.961C277.853 246.961 274.108 244.933 274.194 241.532L274.529 228.417C274.563 227.065 273.95 225.784 272.886 224.987L262.568 217.27C259.891 215.268 260.608 210.98 263.782 210.012L276.018 206.287C277.276 205.903 278.274 204.905 278.68 203.621L282.63 191.146C283.654 187.909 287.844 187.286 289.718 190.09L296.946 200.905C297.692 202.018 298.921 202.684 300.234 202.684L312.995 202.692C316.307 202.695 318.178 206.599 316.161 209.299L308.392 219.706C307.592 220.78 307.355 222.189 307.761 223.473L311.698 235.955C312.717 239.192 309.684 242.227 306.565 241.091L294.537 236.71C293.3 236.258 291.925 236.463 290.859 237.257Z"
            fill="#11CDEF"
          ></path>
          <path
            d="M197.285 340C194.569 340 192.368 337.803 192.368 335.092C192.368 297.088 207.559 271.394 220.302 256.531C234.161 240.373 247.99 233.273 248.573 232.977C250.995 231.75 253.955 232.718 255.182 235.138C256.409 237.553 255.445 240.502 253.025 241.732C252.817 241.838 240.05 248.481 227.497 263.244C210.712 282.979 202.203 307.152 202.203 335.092C202.203 337.803 200.001 340 197.285 340Z"
            fill="#FF6373"
          ></path>
          <path
            d="M91.7237 263.866L99.5521 274.229C101.585 276.917 105.73 276.043 106.57 272.751L109.805 260.058C110.138 258.754 111.076 257.698 112.314 257.239L124.316 252.785C127.43 251.63 127.903 247.306 125.119 245.47L114.38 238.383C113.275 237.651 112.589 236.409 112.545 235.06L112.134 221.945C112.03 218.544 108.176 216.744 105.616 218.899L95.7419 227.211C94.723 228.067 93.3611 228.355 92.1006 227.978L79.8434 224.326C76.6647 223.379 73.8083 226.591 75.0117 229.76L79.6484 241.986C80.1267 243.244 79.9707 244.666 79.2326 245.784L72.0669 256.639C70.2086 259.457 72.2957 263.239 75.6017 263.044L88.3397 262.287C89.6523 262.209 90.918 262.8 91.7237 263.866Z"
            fill="#11CDEF"
          ></path>
          <path
            d="M142.403 340C139.687 340 137.486 337.803 137.486 335.092C137.486 315.131 133.041 296.87 124.277 280.815C122.978 278.434 123.859 275.454 126.245 274.157C128.631 272.86 131.617 273.739 132.917 276.118C142.473 293.632 147.321 313.474 147.321 335.092C147.321 337.803 145.119 340 142.403 340Z"
            fill="#F68820"
          ></path>
          <path
            d="M202.221 37.12C202.221 29.6259 196.311 23.5508 189.023 23.5508C181.732 23.5508 175.825 29.6259 175.825 37.12C175.825 44.614 181.732 50.6917 189.023 50.6917C196.311 50.6917 202.221 44.614 202.221 37.12Z"
            fill="#F68820"
          ></path>
          <path
            d="M271.52 296.712C271.52 289.217 265.612 283.142 258.324 283.142C251.034 283.142 245.126 289.217 245.126 296.712C245.126 304.206 251.034 310.281 258.324 310.281C265.612 310.281 271.52 304.206 271.52 296.712Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M52.6494 299.396C52.6494 293.386 47.9113 288.514 42.0634 288.514C36.2181 288.514 31.48 293.386 31.48 299.396C31.48 305.409 36.2181 310.281 42.0634 310.281C47.9113 310.281 52.6494 305.409 52.6494 299.396Z"
            fill="#62D38F"
          ></path>
          <path
            d="M81.9541 191.483C81.9541 185.473 77.216 180.602 71.3681 180.602C65.5228 180.602 60.7847 185.473 60.7847 191.483C60.7847 197.494 65.5228 202.368 71.3681 202.368C77.216 202.368 81.9541 197.494 81.9541 191.483Z"
            fill="#5E6EED"
          ></path>
          <path
            d="M163.573 10.8844C163.573 4.87152 158.835 0 152.989 0C147.141 0 142.403 4.87152 142.403 10.8844C142.403 16.8947 147.141 21.7662 152.989 21.7662C158.835 21.7662 163.573 16.8947 163.573 10.8844Z"
            fill="#FF6373"
          ></path>
          <path
            d="M266.296 101.524C266.296 95.5135 261.555 90.6394 255.71 90.6394C249.865 90.6394 245.124 95.5135 245.124 101.524C245.124 107.534 249.865 112.406 255.71 112.406C261.555 112.406 266.296 107.534 266.296 101.524Z"
            fill="#FF6373"
          ></path>
          <path
            d="M116.41 21.7453C115.175 21.7453 113.941 21.2862 112.984 20.3576C111.035 18.4691 110.988 15.3641 112.88 13.4186L118.996 7.13078C120.888 5.18528 124.002 5.13859 125.948 7.02702C127.898 8.91545 127.945 12.0231 126.052 13.9685L119.939 20.2564C118.975 21.2473 117.691 21.7453 116.41 21.7453Z"
            fill="#FF6373"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="340" height="340" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  {{else}}
    {{! template-lint-configure no-inline-styles false }}
    <div
      data-test-answer-correctness-widget
      data-test-is-correct={{@isCorrect}}
      data-test-isnt-correct={{not @isCorrect}}
      aria-label={{html-safe (concat (t "exercise_messages.successfully"))}}
      style={{html-safe
        (concat
          (concat "background-image: url('/pictures/" this.imagePath ".jpg')")
          ", "
          (concat "url('/pictures/" this.imagePath ".png')")
          ", "
          (concat "url('/pictures/" this.imagePath ".jpeg')")
          ", "
          (concat "url('/pictures/" this.imagePath ".svg')")
        )
      }}
      class="answer-correctness-widget flex-1 mx-auto rounded"
    ></div>
  {{/if}}
</div>