<div
  class="{{style-namespace "answer-correctness-widget"}}
    flex flex-wrap flex-1 flex-col text-center justify-evenly pb-0 items-center rounded-large"
  ...attributes
>
  <h3 class="mt-6 mb-6 text-2xl font-semibold">
    {{if
      @isCorrect
      (t "exercise_messages.successfully")
      (t "exercise_messages.unsuccessfully")
    }}
  </h3>
  {{#if @isCorrect}}
    <div
      data-test-answer-correctness-widget
      data-test-is-correct={{@isCorrect}}
      data-test-isnt-correct={{not @isCorrect}}
      class="object-center"
    >
      <Ui::Icon::CorrectAnswer />
    </div>
  {{else}}
    {{! template-lint-configure no-inline-styles false }}
    <div
      data-test-answer-correctness-widget
      data-test-is-correct={{@isCorrect}}
      data-test-isnt-correct={{not @isCorrect}}
      aria-label={{html-safe (concat (t "exercise_messages.successfully"))}}
      style={{html-safe
        (concat
          (concat "background-image: url('/pictures/" this.imagePath ".jpg')")
          ", "
          (concat "url('/pictures/" this.imagePath ".png')")
          ", "
          (concat "url('/pictures/" this.imagePath ".jpeg')")
          ", "
          (concat "url('/pictures/" this.imagePath ".svg')")
        )
      }}
      class="answer-correctness-widget flex-1 mx-auto rounded"
    ></div>
  {{/if}}
</div>